@import "../../scss/mixins/fluid-types";

.footer {
  background-color: #140A05;
  padding-top: #{fluid(48px, 96px)};
  padding-bottom: 28px;

  :global {
    .footer {
      &__top {
        padding-bottom: 28px;
        border-bottom: 1px solid #776C67;
        margin-bottom: 28px;
        display: grid;
        gap: 30px;
        place-items: center;
        text-align: center;
        @media (min-width: 992px) {
          display: flex;
          text-align: left;
          justify-content: space-between;
          align-items: center;
        }
      }

      &__bottom {
        text-align: center;
      }

      &__menu {
        @media (min-width: 768px) {
          display: flex;
          gap: 42px;
        }

        &-link {
          color: #fff;
          transition: color .3s ease-in-out;

          &:hover, &:focus {
            color: #FE7E41;
          }
        }
      }

      &__social {
        display: flex;
        gap: 20px;

        &-link {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 28px;
          height: 28px;
          border-radius: 50%;
          background-color: #3F3028;
          transition: background-color .3s ease-in-out;
          color: #fff;

          &:hover, &:focus {
            background-color: #FE7E41;
          }
        }
      }
    }
  }

}

.contact {
  background-color: #FE7E41;
  color: #fff;
  padding: 59px 10px;
  margin-bottom: #{fluid(48px, 96px)};

  :global {
    .contact {
      &__top {
        text-align: center;
        margin-bottom: #{fluid(28px, 38px)};

        .title,
        .subtitle {
          color: inherit;
        }
      }

      &__btns {
        display: grid;
        gap: 28px;
        @media (min-width: 576px) {
          grid-template-columns: repeat(2, 1fr);
          max-width: max-content;
          margin-inline: auto;
        }
      }

      &__btn-primary {
        background-color: #fff;
        color: #FE7E41;

        &:hover, &:focus {
          border-color: #fff;
          color: #fff;
          background-color: transparent;
        }
      }

      &__btn-third {
        border-color: #fff;
        color: #fff;

        &:hover, &:focus {
          background-color: #fff;
          color: #FE7E41;
        }
      }
    }
  }

}
