@charset "UTF-8";

html {
	font-size: 62.5%;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

/*/ ========= Сброс (Заголовки) =============/*/
h1,
h2,
h3,
h4,
h5,
h6 {
	padding: 0;
	margin: 0;
	font-size: inherit;
	font-weight: inherit;
}

/*/ ========= Сброс (Параграф) =============/*/
p {
	padding: 0;
	margin: 0;
	-webkit-hyphens: auto;
	-webkit-hyphenate-limit-before: 3;
	-webkit-hyphenate-limit-after: 3;
	-webkit-hyphenate-limit-chars: 6 3 3;
	-webkit-hyphenate-limit-lines: 2;
	-webkit-hyphenate-limit-last: always;
	-webkit-hyphenate-limit-zone: 8%;
	-moz-hyphens: auto;
	-moz-hyphenate-limit-chars: 6 3 3;
	-moz-hyphenate-limit-lines: 2;
	-moz-hyphenate-limit-last: always;
	-moz-hyphenate-limit-zone: 8%;
	-ms-hyphens: auto;
	-ms-hyphenate-limit-chars: 6 3 3;
	-ms-hyphenate-limit-lines: 2;
	-ms-hyphenate-limit-last: always;
	-ms-hyphenate-limit-zone: 8%;
	hyphens: auto;
	hyphenate-limit-chars: 6 3 3;
	hyphenate-limit-lines: 2;
	hyphenate-limit-last: always;
	hyphenate-limit-zone: 8%;
}

/*/ ========= Сброс (Списки) =============/*/
ul,
ol {
	padding: 0;
	margin: 0;
	list-style: none;
}

/*/ ========= Сброс (Таблицы) =============/*/
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*/ ========= Сброс (Картинки) =============/*/
img {
	height: auto;
	max-width: 100%;
	vertical-align: middle;
	border: none;
}

/*/ ========= Сброс (Ссылки) =============/*/
a {
	text-decoration: none;
	font-family: inherit;
	transition: all 0.3s ease;
}

/*/ ========= Сброс (Элементы формы) =============/*/
button,
input,
optgroup,
select,
textarea {
	padding: 0;
	margin: 0;
	border: none;
	border-radius: 0;
	box-shadow: none;
	background-color: transparent;
	font: inherit;
	color: inherit;
	letter-spacing: inherit;
}

/*/ ========= Сброс (Элементы формы (button, input)) =============/*/
button,
input {
	overflow: visible;
	transition: all 0.3s ease;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
	cursor: pointer;
	-webkit-appearance: none;
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
	border: none;
	padding: 0;
}

button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
	outline: none;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
	height: auto;
}

[type='search']::-webkit-search-decoration {
	-webkit-appearance: none;
}

[type='search'] {
	outline: none;
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

/*/ ========= Сброс (Элементы формы (select)) =============/*/
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

select::-ms-expand {
	display: none;
}

/*/ ========= Сброс (Элементы формы (textarea)) =============/*/
textarea {
	resize: none;
	overflow-y: auto;
	overflow-x: hidden;
}

/*/ ========= Сброс (Элементы формы (fieldset,legend)) =============/*/
fieldset {
	padding: 0;
	margin: 0;
	border: none;
}

legend {
	display: block;
	padding: 0;
	white-space: normal;
}

/*/ ========= Сброс (Элементы формы (placeholder)) =============/*/
::-webkit-input-placeholder {
	color: inherit;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	transition: opacity .3s;
}

::-moz-placeholder {
	color: inherit;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	transition: opacity .3s;
}

:-moz-placeholder {
	color: inherit;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	transition: opacity .3s;
}

:-ms-input-placeholder {
	color: inherit;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	transition: opacity .3s;
}

:focus::-webkit-input-placeholder {
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

:focus::-moz-placeholder {
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

:focus:-moz-placeholder {
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

:focus:-ms-input-placeholder {
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

/*/ ========= Сброс (Элементы формы (курсор) =============/*/
label,
button,
input,
select {
	cursor: pointer;
}

/*/ ========= Сброс (Векторная графика) =============/*/
svg {
	fill: currentColor;
	transition: all 0.3s ease;
}

/*/ ========= Сброс (Отключение элемента) =============/*/
:disabled,
.disabled {
	cursor: not-allowed;
}

/*/ ========= Сброс (Цвет текста при выделении) =============/*/
::-moz-selection {
	color: #fff;
	background-color: #004fe4;
}

::selection {
	color: #fff;
	background-color: #004fe4;
}

/**
 * Swiper 4.5.0
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 * http://www.idangero.us/swiper/
 *
 * Copyright 2014-2019 Vladimir Kharlampidi
 *
 * Released under the MIT License
 *
 * Released on: February 22, 2019
 */
.swiper-container {
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	list-style: none;
	padding: 0;
	z-index: 1;
}

.swiper-container-no-flexbox .swiper-slide {
	float: left;
}

.swiper-container-vertical>.swiper-wrapper {
	-ms-flex-direction: column;
	flex-direction: column;
}

.swiper-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 1;
	display: -ms-flexbox;
	display: flex;
	transition-property: transform;
	box-sizing: content-box;
}

.swiper-container-android .swiper-slide,
.swiper-wrapper {
	transform: translate3d(0, 0, 0);
}

.swiper-container-multirow>.swiper-wrapper {
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.swiper-container-free-mode>.swiper-wrapper {
	transition-timing-function: ease-out;
	margin: 0 auto;
}

.swiper-slide {
	-ms-flex-negative: 0;
	flex-shrink: 0;
	width: 100%;
	height: 100%;
	position: relative;
	transition-property: transform;
}

.swiper-slide-invisible-blank {
	visibility: hidden;
}

.swiper-container-autoheight,
.swiper-container-autoheight .swiper-slide {
	height: auto;
}

.swiper-container-autoheight .swiper-wrapper {
	-ms-flex-align: start;
	-ms-grid-row-align: flex-start;
	align-items: flex-start;
	transition-property: transform, height;
}

.swiper-container-3d {
	perspective: 1200px;
}

.swiper-container-3d .swiper-cube-shadow,
.swiper-container-3d .swiper-slide,
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-wrapper {
	transform-style: preserve-3d;
}

.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	z-index: 10;
}

.swiper-container-3d .swiper-slide-shadow-left {
	background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-container-3d .swiper-slide-shadow-right {
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-container-3d .swiper-slide-shadow-top {
	background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-container-3d .swiper-slide-shadow-bottom {
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-container-wp8-horizontal,
.swiper-container-wp8-horizontal>.swiper-wrapper {
	-ms-touch-action: pan-y;
	touch-action: pan-y;
}

.swiper-container-wp8-vertical,
.swiper-container-wp8-vertical>.swiper-wrapper {
	-ms-touch-action: pan-x;
	touch-action: pan-x;
}

.swiper-button-next,
.swiper-button-prev {
	position: absolute;
	top: 50%;
	width: 27px;
	height: 44px;
	margin-top: -22px;
	z-index: 10;
	cursor: pointer;
	background-size: 27px 44px;
	background-position: center;
	background-repeat: no-repeat;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
	opacity: .35;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=35)";
	cursor: auto;
	pointer-events: none;
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
	left: 10px;
	right: auto;
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
	right: 10px;
	left: auto;
}

.swiper-button-prev.swiper-button-white,
.swiper-container-rtl .swiper-button-next.swiper-button-white {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
}

.swiper-button-next.swiper-button-white,
.swiper-container-rtl .swiper-button-prev.swiper-button-white {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
}

.swiper-button-prev.swiper-button-black,
.swiper-container-rtl .swiper-button-next.swiper-button-black {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E");
}

.swiper-button-next.swiper-button-black,
.swiper-container-rtl .swiper-button-prev.swiper-button-black {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E");
}

.swiper-button-lock {
	display: none;
}

.swiper-pagination {
	position: absolute;
	text-align: center;
	transition: .3s opacity;
	transform: translate3d(0, 0, 0);
	z-index: 10;
}

.swiper-pagination.swiper-pagination-hidden {
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.swiper-container-horizontal>.swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
	bottom: 10px;
	left: 0;
	width: 100%;
}

.swiper-pagination-bullets-dynamic {
	overflow: hidden;
	font-size: 0;
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
	transform: scale(0.33);
	position: relative;
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active {
	transform: scale(1);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main {
	transform: scale(1);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev {
	transform: scale(0.66);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev {
	transform: scale(0.33);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
	transform: scale(0.66);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
	transform: scale(0.33);
}

.swiper-pagination-bullet {
	width: 8px;
	height: 8px;
	display: inline-block;
	border-radius: 100%;
	background: #000;
	opacity: .2;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
}

button.swiper-pagination-bullet {
	border: none;
	margin: 0;
	padding: 0;
	box-shadow: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
	cursor: pointer;
}

.swiper-pagination-bullet-active {
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	background: #007aff;
}

.swiper-container-vertical>.swiper-pagination-bullets {
	right: 10px;
	top: 50%;
	transform: translate3d(0, -50%, 0);
}

.swiper-container-vertical>.swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 6px 0;
	display: block;
}

.swiper-container-vertical>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
	top: 50%;
	transform: translateY(-50%);
	width: 8px;
}

.swiper-container-vertical>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
	display: inline-block;
	transition: .2s top, .2s -webkit-transform;
	transition: .2s transform, .2s top;
	transition: .2s transform, .2s top, .2s -webkit-transform;
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 0 4px;
}

.swiper-container-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
	left: 50%;
	transform: translateX(-50%);
	white-space: nowrap;
}

.swiper-container-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
	transition: .2s left, .2s -webkit-transform;
	transition: .2s transform, .2s left;
	transition: .2s transform, .2s left, .2s -webkit-transform;
}

.swiper-container-horizontal.swiper-container-rtl>.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
	transition: .2s right, .2s -webkit-transform;
	transition: .2s transform, .2s right;
	transition: .2s transform, .2s right, .2s -webkit-transform;
}

.swiper-pagination-progressbar {
	background: rgba(0, 0, 0, 0.25);
	position: absolute;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
	background: #007aff;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	transform: scale(0);
	transform-origin: left top;
}

.swiper-container-rtl .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
	transform-origin: right top;
}

.swiper-container-horizontal>.swiper-pagination-progressbar,
.swiper-container-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
	width: 100%;
	height: 4px;
	left: 0;
	top: 0;
}

.swiper-container-horizontal>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite,
.swiper-container-vertical>.swiper-pagination-progressbar {
	width: 4px;
	height: 100%;
	left: 0;
	top: 0;
}

.swiper-pagination-white .swiper-pagination-bullet-active {
	background: #fff;
}

.swiper-pagination-progressbar.swiper-pagination-white {
	background: rgba(255, 255, 255, 0.25);
}

.swiper-pagination-progressbar.swiper-pagination-white .swiper-pagination-progressbar-fill {
	background: #fff;
}

.swiper-pagination-black .swiper-pagination-bullet-active {
	background: #000;
}

.swiper-pagination-progressbar.swiper-pagination-black {
	background: rgba(0, 0, 0, 0.25);
}

.swiper-pagination-progressbar.swiper-pagination-black .swiper-pagination-progressbar-fill {
	background: #000;
}

.swiper-pagination-lock {
	display: none;
}

.swiper-scrollbar {
	border-radius: 10px;
	position: relative;
	-ms-touch-action: none;
	background: rgba(0, 0, 0, 0.1);
}

.swiper-container-horizontal>.swiper-scrollbar {
	position: absolute;
	left: 1%;
	bottom: 3px;
	z-index: 50;
	height: 5px;
	width: 98%;
}

.swiper-container-vertical>.swiper-scrollbar {
	position: absolute;
	right: 3px;
	top: 1%;
	z-index: 50;
	width: 5px;
	height: 98%;
}

.swiper-scrollbar-drag {
	height: 100%;
	width: 100%;
	position: relative;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 10px;
	left: 0;
	top: 0;
}

.swiper-scrollbar-cursor-drag {
	cursor: move;
}

.swiper-scrollbar-lock {
	display: none;
}

.swiper-zoom-container {
	width: 100%;
	height: 100%;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-align: center;
	align-items: center;
	text-align: center;
}

.swiper-zoom-container>canvas,
.swiper-zoom-container>img,
.swiper-zoom-container>svg {
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
}

.swiper-slide-zoomed {
	cursor: move;
}

.swiper-lazy-preloader {
	width: 42px;
	height: 42px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -21px;
	margin-top: -21px;
	z-index: 10;
	transform-origin: 50%;
	animation: swiper-preloader-spin 1s steps(12, end) infinite;
}

.swiper-lazy-preloader:after {
	display: block;
	content: '';
	width: 100%;
	height: 100%;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
	background-position: 50%;
	background-size: 100%;
	background-repeat: no-repeat;
}

.swiper-lazy-preloader-white:after {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23fff'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}

@keyframes swiper-preloader-spin {
	100% {
		transform: rotate(360deg);
	}
}

.swiper-container .swiper-notification {
	position: absolute;
	left: 0;
	top: 0;
	pointer-events: none;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	z-index: -1000;
}

.swiper-container-fade.swiper-container-free-mode .swiper-slide {
	transition-timing-function: ease-out;
}

.swiper-container-fade .swiper-slide {
	pointer-events: none;
	transition-property: opacity;
}

.swiper-container-fade .swiper-slide .swiper-slide {
	pointer-events: none;
}

.swiper-container-fade .swiper-slide-active,
.swiper-container-fade .swiper-slide-active .swiper-slide-active {
	pointer-events: auto;
}

.swiper-container-cube {
	overflow: visible;
}

.swiper-container-cube .swiper-slide {
	pointer-events: none;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	z-index: 1;
	visibility: hidden;
	transform-origin: 0 0;
	width: 100%;
	height: 100%;
}

.swiper-container-cube .swiper-slide .swiper-slide {
	pointer-events: none;
}

.swiper-container-cube.swiper-container-rtl .swiper-slide {
	transform-origin: 100% 0;
}

.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-active .swiper-slide-active {
	pointer-events: auto;
}

.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-next,
.swiper-container-cube .swiper-slide-next+.swiper-slide,
.swiper-container-cube .swiper-slide-prev {
	pointer-events: auto;
	visibility: visible;
}

.swiper-container-cube .swiper-slide-shadow-bottom,
.swiper-container-cube .swiper-slide-shadow-left,
.swiper-container-cube .swiper-slide-shadow-right,
.swiper-container-cube .swiper-slide-shadow-top {
	z-index: 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.swiper-container-cube .swiper-cube-shadow {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: .6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	-webkit-filter: blur(50px);
	filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="50" /></filter></svg>#filter');
	filter: blur(50px);
	filter: progid:DXImageTransform.Microsoft.Blur(pixelradius=50);
	z-index: 0;
}

.swiper-container-flip {
	overflow: visible;
}

.swiper-container-flip .swiper-slide {
	pointer-events: none;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	z-index: 1;
}

.swiper-container-flip .swiper-slide .swiper-slide {
	pointer-events: none;
}

.swiper-container-flip .swiper-slide-active,
.swiper-container-flip .swiper-slide-active .swiper-slide-active {
	pointer-events: auto;
}

.swiper-container-flip .swiper-slide-shadow-bottom,
.swiper-container-flip .swiper-slide-shadow-left,
.swiper-container-flip .swiper-slide-shadow-right,
.swiper-container-flip .swiper-slide-shadow-top {
	z-index: 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.swiper-container-coverflow .swiper-wrapper {
	-ms-perspective: 1200px;
}

body {
	text-rendering: optimizeLegibility;
	-webkit-text-decoration-skip: objects;
	text-decoration-skip: objects;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: transparent;
	padding: inherit;
	margin: inherit;
	overflow-x: hidden;
	font-weight: 500;
	line-height: 1.2;
	font-size: 14px;
	font-family: "MuseoSans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	color: #555;
	background-color: #fff;
}

@font-face {
	font-family: 'MuseoSans';
	src: url("../fonts/Museo/MuseoSansMedium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'MuseoSans';
	src: url("../fonts/Museo/MuseoSansBlack.woff") format("woff");
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'fontello';
	src: url("../fonts/icons/fontello.eot?52652991");
	src: url("../fonts/icons/fontello.eot?52652991#iefix") format("embedded-opentype"), url("../fonts/icons/fontello.woff2?52652991") format("woff2"), url("../fonts/icons/fontello.woff?52652991") format("woff"), url("../fonts/icons/fontello.ttf?52652991") format("truetype"), url("../fonts/icons/fontello.svg?52652991#fontello") format("svg");
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
	margin-left: .2em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
	content: '\e800';
}

.icon-location:before {
	content: '\e801';
}

.icon-facebook:before {
	content: '\f09a';
}

.icon-mail-alt:before {
	content: '\f0e0';
}

.icon-quote-left:before {
	content: '\f10d';
}

.icon-quote-right:before {
	content: '\f10e';
}

.icon-instagram:before {
	content: '\f16d';
}

.head {
	font-size: 18px;
	color: #0071bc;
	font-weight: 900;
	text-align: center;
}

.container {
	width: 100%;
	margin: auto;
	max-width: 114rem;
	padding: 0rem 1rem;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	-webkit-clip-path: inset(100%);
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.red {
	color: #ef4023;
}

.list {
	width: 100%;
	margin: auto;
}

.list__item {
	padding: 15px 0 15px 40px;
	font-size: 1.7rem;
	background: url(../images/about/check.png) no-repeat 0 center;
	background-size: 20px;
	font-weight: 900;
}

.btn {
	display: block;
	width: 100%;
	text-align: center;
	outline: none;
	background-color: transparent;
	color: #ef4023;
	border: 2px solid #ef4023;
	border-radius: 25px;
	padding: 8px 15px;
	box-shadow: 0 1px 5px 0px #ef4023;
	transition: all .6s ease;
	font-weight: 700;
}

.btn:hover,
.btn:focus {
	color: #FFF;
	background-color: #ef4023;
}

.hamburger {
	display: inline-block;
	position: relative;
	cursor: pointer;
	transition-property: opacity, -webkit-filter;
	transition-property: opacity, filter;
	transition-property: opacity, filter, -webkit-filter;
	transition-duration: 0.15s;
	transition-timing-function: linear;
	font: inherit;
	color: inherit;
	text-transform: none;
	background-color: transparent;
	border: 0;
	margin: 0;
	overflow: visible;
}

.hamburger:hover {
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
}

.hamburger.is-active:hover {
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
}

.hamburger.is-active .hamburger-inner {
	background-color: #0071bc;
}

.hamburger.is-active .hamburger-inner:before,
.hamburger.is-active .hamburger-inner:after {
	background-color: #0071bc;
}

.hamburger-box {
	width: 3rem;
	height: 24px;
	display: inline-block;
	position: relative;
}

.hamburger-inner {
	display: block;
	top: 50%;
	margin-top: -2px;
	width: 3rem;
	height: 0.3rem;
	background-color: #0071bc;
	position: absolute;
	transition-property: transform;
	transition-duration: 0.15s;
	transition-timing-function: ease;
	outline: none;
}

.hamburger-inner:before,
.hamburger-inner:after {
	width: 3rem;
	height: 0.3rem;
	background-color: #0071bc;
	position: absolute;
	transition-property: transform;
	transition-duration: 0.15s;
	transition-timing-function: ease;
}

.hamburger-inner:before,
.hamburger-inner:after {
	content: "";
	display: block;
}

.hamburger-inner:before {
	top: -10px;
}

.hamburger-inner:after {
	bottom: -10px;
}

/**** ============
EFFECTS
============ ****/
.hamburger--elastic-r .hamburger-inner {
	top: 2px;
	transition-duration: 0.275s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hamburger--elastic-r .hamburger-inner:before {
	top: 10px;
	transition: opacity 0.125s 0.275s ease;
}

.hamburger--elastic-r .hamburger-inner:after {
	top: 20px;
	transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hamburger--elastic-r.is-active .hamburger-inner {
	transform: translate3d(0, 10px, 0) rotate(-135deg);
	transition-delay: 0.075s;
}

.hamburger--elastic-r.is-active .hamburger-inner:before {
	transition-delay: 0s;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.hamburger--elastic-r.is-active .hamburger-inner:after {
	transform: translate3d(0, -20px, 0) rotate(270deg);
	transition-delay: 0.075s;
}

.nav {
	position: relative;
	background: #0071bc;
}

.nav__wrapper {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-align: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	margin: auto;
	width: 100%;
	background-color: #fff;
	padding: 1.2rem;
}

.nav__wrapper--fixed {
	position: fixed;
}

.menu {
	position: absolute;
	top: 10rem;
	left: 0;
	right: 0;
	width: 100%;
	transition: max-height 0.6s cubic-bezier(0.47, 0, 0.745, 0.715), opacity 0.3s ease-in;
	background-color: #0071bc;
	max-height: 0;
	overflow: hidden;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.menu--open {
	max-height: 60rem;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.menu__link {
	display: block;
	padding: 1.5rem 0rem;
	font-size: 1.7rem;
	text-align: center;
	color: #fff;
	transition: all 0.3s ease;
}

.menu__link:hover,
.menu__link:focus {
	box-shadow: inset 0px 0px 8px 1px #0071bc;
	background-color: #fff;
	color: #0071bc;
}

.logo {
	max-width: 21rem;
}

.header {
	position: relative;
	z-index: 10;
}

.header-top {
	display: none;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-align: center;
	-ms-grid-row-align: center;
	align-items: center;
	padding-top: 2.5rem;
	padding-bottom: 2.5rem;
}

.header__btn,
.header__text {
	display: none;
}

.header__text {
	font-weight: 900;
	color: #0071bc;
	text-transform: uppercase;
	font-size: 1.7rem;
	max-width: 25.5rem;
	padding: 0rem 1.5rem;
}

.header__btn {
	max-width: 23.3rem;
}

.header-links__item {
	text-align: right;
}

.header-links__item .demo-icon {
	color: #ef4023;
}

.header-links__phone {
	font-size: 18px;
	font-weight: 900;
	color: #0071bc;
	display: block;
	transition: all 0.3s ease;
}

.header-links__phone:hover,
.header-links__phone:focus {
	color: #ef4023;
}

.header-links__address {
	color: #0071bc;
	font-size: 1.7rem;
	font-weight: 900;
}

.footer {
	text-align: center;
	padding: 2.5rem 0rem;
}

.footer__copy {
	font-size: 1.5rem;
}

.promo {
	padding-top: 350px;
	padding-bottom: 350px;
	background: url(../images/promo-bg.jpg) no-repeat center/cover;
	background-attachment: fixed;
	position: relative;
}

.promo-header {
	max-width: 89rem;
	width: 100%;
	padding: 15px 15px 0;
	border-radius: 35px 35px 0 0;
	margin: 0 15px;
	box-shadow: 0 -3px 4px 0 rgba(0, 0, 0, 0.39);
	background-color: #fff;
	margin: auto;
	bottom: 0;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.promo-header:after,
.promo-header:before {
	content: '';
	display: block;
	position: absolute;
	bottom: 0;
	height: 12px;
	background: #fff;
	border-bottom: 2px dashed #0071bc;
	display: none;
}

.promo-header:after {
	left: 100%;
	right: -100%;
	margin-left: 3px;
}

.promo-header:before {
	left: -100%;
	right: 100%;
	margin-left: 3px;
}

.promo__head {
	padding: 30px;
	border-radius: 35px 35px 0 0;
	border: 2px dashed #0071bc;
	border-bottom: none;
	position: relative;
	color: #0071bc;
	font-size: 18px;
	font-weight: 900;
	text-align: center;
	text-transform: uppercase;
}

.about {
	padding: 5.6rem 0rem;
}

.about .pot-red,
.about .pot-yellow {
	position: absolute;
	content: '';
	display: none;
}

.about-list {
	max-width: 89rem;
}

.about__text {
	font-size: 18px;
	line-height: 1.5;
	margin-bottom: 5rem;
}

.about__text-big {
	font-weight: 900;
	font-size: 18px;
	text-transform: uppercase;
	color: #0071bc;
}

.about-games {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: (45%)[2];
	grid-template-columns: repeat(2, 45%);
	grid-row-gap: 4rem;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-grid-column-align: center;
	justify-items: center;
}

.banner {
	padding: 2.5rem 0;
	background-color: #e6f8db;
	margin: 0;
	border-top: 2px dashed #0071bc;
	border-bottom: 2px dashed #0071bc;
	text-align: center;
}

.banner__head {
	text-transform: uppercase;
	font-weight: 900;
	color: #0071bc;
	font-size: 18px;
}

.results {
	padding-top: 3rem;
	padding-bottom: 5rem;
}

.results__head {
	max-width: 64rem;
	margin: auto;
	margin-bottom: 5rem;
}

.results__image {
	display: block;
	margin: auto;
	margin-bottom: 5rem;
}

.results-list {
	max-width: 88rem;
	margin: auto;
}

.courses {
	padding-top: 60px;
	padding-bottom: 60px;
}

.courses__head {
	margin-bottom: 1.5rem;
}

.courses-list {
	max-width: 87rem;
	margin: auto;
}

.courses-list__item {
	padding: 1.5rem 0 1.5rem 4rem;
	background-size: 20px;
	font-weight: 900;
	position: relative;
}

.courses-list__item:before {
	content: '';
	position: absolute;
	display: block;
	background: #ef4023;
	width: 30px;
	left: 0px;
	height: 5px;
	top: 25px;
}

.author {
	padding: 5rem 0rem;
}

.author__image {
	width: 30rem;
	height: 30rem;
	border-radius: 50%;
	border: 2px dashed #0071bc;
	padding: 2rem;
	margin-bottom: 4rem;
}

.author__content {
	max-width: 65.5rem;
	width: 100%;
}

.author__head {
	font-size: 22px;
	margin-bottom: 4.5rem;
	text-align: left;
}

.author-list {
	list-style: circle;
	margin-bottom: 4rem;
}

.author-list__item:not(:last-child) {
	margin-bottom: 0.7rem;
}

.author__btn {
	max-width: 23.3rem;
}

.author__inner {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-align: center;
	align-items: center;
}

.photo {
	padding: 5rem 0rem;
}

.photo__head {
	margin-bottom: 4rem;
}

.photo-container {
	padding-bottom: 4rem;
}

.photo .swiper-pagination-bullet-active {
	background: #000000;
}

.reviews {
	padding: 5rem 0rem;
	background: #eff9fd;
}

.reviews__head {
	margin-bottom: 4rem;
}

.reviews-slide__text {
	background-color: #fff;
	padding: 2rem;
	border-radius: 20px;
	border: 2px dashed #0071bc;
}

.reviews-slide .demo-icon {
	font-size: 1.8rem;
	color: #0071bc;
	display: block;
}

.reviews-slide .icon-quote-right {
	text-align: right;
}

.reviews-slide__name {
	display: block;
	text-align: right;
	font-weight: 900;
}

.reviews-container {
	margin-bottom: 5rem;
	padding: 0 1rem;
}

.reviews__btn {
	margin-top: 5rem;
	max-width: 24.4rem;
	margin: auto;
}

.reviews .swiper-button-next,
.reviews .swiper-button-prev {
	display: none;
}

.partners {
	padding: 5rem 0rem;
}

.partners__head {
	margin-bottom: 4rem;
}

.partners-list {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: (45%)[2];
	grid-template-columns: repeat(2, 45%);
	-ms-flex-pack: justify;
	justify-content: space-between;
	grid-row-gap: 3rem;
}

.partners-list__item {
	text-align: center;
}

.contact {
	padding: 5rem 0rem 0rem;
	background: #eff9fd;
}

.contact__head {
	margin-bottom: 4rem;
}

.contact-list {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	max-width: 47rem;
	margin: auto;
	margin-bottom: 4rem;
}

.contact-list__item {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
}

.contact-list__item:last-child {
	font-size: 18px;
}

.contact-list__item .demo-icon {
	color: #0071bc;
	margin-right: 1.5rem;
}

.contact-list__link {
	color: #555;
	font-size: 18px;
}

.contact__title {
	text-align: center;
	font-weight: 900;
	font-size: 18px;
	margin-bottom: 4rem;
	color: #0071bc;
}

.contact .social {
	max-width: 8rem;
	width: 100%;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-align: center;
	align-items: center;
	margin: auto;
	margin-bottom: 5rem;
}

.contact .social__link {
	color: #fff;
	width: 3.6rem;
	height: 3.6rem;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: #0071bc;
	border-radius: 50%;
}

.contact-map {
	min-height: 46rem;
	width: 100%;
	border: 0;
	vertical-align: middle;
}

@media (min-width: 320px) {
	body {
		font-size: 17px;
		font-size: calc(0.00366 * 100vw + 12.82927px);
	}

	.head {
		font-size: 28px;
		font-size: calc(0.0122 * 100vw + 14.09756px);
	}

	.header-links__phone {
		font-size: 20px;
		font-size: calc(0.00244 * 100vw + 17.21951px);
	}

	.promo {
		padding-top: calc(12.19512vw + 310.97561px);
	}

	.promo {
		padding-bottom: calc(12.19512vw + 310.97561px);
	}

	.promo__head {
		font-size: 24px;
		font-size: calc(0.00732 * 100vw + 15.65854px);
	}

	.about__text {
		font-size: 22px;
		font-size: calc(0.00488 * 100vw + 16.43902px);
	}

	.about__text-big {
		font-size: 28px;
		font-size: calc(0.0122 * 100vw + 14.09756px);
	}

	.banner__head {
		font-size: 28px;
		font-size: calc(0.0122 * 100vw + 14.09756px);
	}

	.courses {
		padding-top: calc(4.87805vw + 44.39024px);
	}

	.courses {
		padding-bottom: calc(4.87805vw + 44.39024px);
	}

	.author__head {
		font-size: 32px;
		font-size: calc(0.0122 * 100vw + 18.09756px);
	}

	.contact-list__item:last-child {
		font-size: 20px;
		font-size: calc(0.00244 * 100vw + 17.21951px);
	}

	.contact-list__link {
		font-size: 20px;
		font-size: calc(0.00244 * 100vw + 17.21951px);
	}

	.contact__title {
		font-size: 22px;
		font-size: calc(0.00488 * 100vw + 16.43902px);
	}
}

@media (min-width: 576px) {
	.hamburger {
		display: none;
	}

	.nav__logo {
		display: none;
	}

	.nav__wrapper {
		padding: 0;
		background-color: #0071bc;
	}

	.menu {
		position: static;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-pack: justify;
		justify-content: space-between;
		overflow: unset;
		max-height: none;
		opacity: 1;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		max-width: 48.3rem;
		margin: auto;
	}

	.menu__link {
		padding: 1rem 0.8rem;
	}

	.header-top {
		display: -ms-flexbox;
		display: flex;
	}

	.partners-list {
		-ms-grid-columns: (20%)[4];
		grid-template-columns: repeat(4, 20%);
		-ms-flex-align: center;
		-ms-grid-row-align: center;
		align-items: center;
	}

	.contact-list {
		-ms-flex-direction: row;
		flex-direction: row;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-ms-flex-pack: center;
		justify-content: center;
	}

	.contact-list>*:not(:last-child) {
		width: 50%;
		margin-bottom: 4rem;
	}
}

@media (min-width: 768px) {
	.header__text {
		display: block;
	}

	.header-links__item {
		text-align: left;
	}

	.promo-header {
		bottom: -12px;
	}

	.promo-header:after,
	.promo-header:before {
		display: block;
	}

	.about-games {
		-ms-grid-columns: (20%)[4];
		grid-template-columns: repeat(4, 20%);
	}

	.author__inner {
		-ms-flex-direction: row;
		flex-direction: row;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}

	.author__inner>* {
		max-width: 50%;
		margin: 0;
	}
}

@media (min-width: 992px) {
	.logo {
		max-width: 16rem;
	}

	.header__text {
		padding: 0;
	}

	.header__btn {
		display: block;
	}

	.reviews-container {
		padding: 0 6rem;
	}

	.reviews .swiper-button-next,
	.reviews .swiper-button-prev {
		display: block;
	}
}

@media (min-width: 1140px) {
	body {
		font-size: 17px;
	}

	.head {
		font-size: 28px;
	}

	.header-links__phone {
		font-size: 20px;
	}

	.promo {
		padding-top: 450px;
	}

	.promo {
		padding-bottom: 450px;
	}

	.promo__head {
		font-size: 24px;
	}

	.about__text {
		font-size: 22px;
	}

	.about__text-big {
		font-size: 28px;
	}

	.banner__head {
		font-size: 28px;
	}

	.courses {
		padding-top: 100px;
	}

	.courses {
		padding-bottom: 100px;
	}

	.author__head {
		font-size: 32px;
	}

	.contact-list__item:last-child {
		font-size: 20px;
	}

	.contact-list__link {
		font-size: 20px;
	}

	.contact__title {
		font-size: 22px;
	}
}