.header {
  position: relative;

  :global {

    .header {
      &__nav {
        position: absolute;
        right: 0;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 36px;
      }

      &__btn {
        font-size: 16px;
        padding: 10px 22px;

      }

      &__mobile {
        @media (min-width: 992px) {
          display: none;
        }
      }

      &-mobile {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 99;
        background-color: #6D6460;
        display: grid;
        place-items: center;
        height: 100%;
        grid-template-rows: auto auto 1fr;
        padding: 60px 20px 20px;
        @media (min-width: 992px) {
          display: none;
        }
        &__menu {
          display: grid;
          margin-bottom: 30px;
          text-align: center;

          &-link {
            color: #fff;
            font-size: 16px;
            line-height: 28px; /* 175% */
            transition: color .3s ease-in-out;
            font-weight: 500;
            padding-top: 10px;
            padding-bottom: 10px;
            display: block;
            &:hover,
            &:focus {
              color: #FE7E41;
            }

          }
        }
        &__btn {

        }
      }

      &__burger {
        position: relative;
        z-index: 100;
        @media (min-width: 992px) {
          display: none;
        }
      }

      &__menu {
        max-width: max-content;
        width: 100%;
        gap: 42px;
        display: none;
        @media (min-width: 992px) {
          display: flex;
        }

        &-link {
          color: #6D6460;
          font-size: 16px;
          line-height: 28px; /* 175% */
          transition: color .3s ease-in-out;
          font-weight: 500;

          &:hover,
          &:focus {
            color: #FE7E41;
          }
        }
      }

      &__btn {
        display: none;
        @media (min-width: 992px) {
          display: inline-flex;
        }
      }
    }

  }
}
