@import "../../scss/mixins/fluid-types";

.about {
  padding-top: #{fluid(75px, 150px)};
  padding-bottom: #{fluid(75px, 150px)};

  :global {
    .about {
      &__container {
        display: grid;
        gap: #{fluid(40px, 130px)};
        @media (min-width: 768px) {
          grid-template-columns: repeat(2, 1fr);
          align-items: center;
        }
      }

      &__left {
        img {
          margin-inline: auto;
        }
      }

      &__sub {
        margin-bottom: 18px;
      }

      &__text {
        margin-bottom: #{fluid(18px, 28px)};
      }
    }
  }

}
