@import "../../../scss/mixins/fluid-types";

.advantage {
  padding-top: clamped(75px, 150px);
  padding-bottom: clamped(75px, 150px);

  :global {
    .advantage {
      &__list {
        display: grid;
        row-gap: clamped(45px, 150px);
      }

      &__item {
        &-row {
          display: flex;
          flex-direction: column;
          gap: 30px;
          @media (min-width: 768px) {
            flex-direction: row;
            align-items: center;
            & > * {
              width: 50%;
            }
          }
        }

        &--reverse {
          .advantage__item-row {
            @media (min-width: 768px) {
              flex-direction: row-reverse;
            }
          }
        }

        &-column {
          &:nth-child(2) {
            display: grid;
            gap: 20px;
            justify-items: flex-start;
            @media (min-width: 768px) {
              display: block;
            }
          }
        }

        &-image {
          margin-inline: auto;
        }

        &-title {
          color: #041615;
          font-size: clamped(24px, 44px);
          font-weight: 700;
          line-height: 122.727%;
          @media (min-width: 768px) {
            margin-bottom: 18px;
          }
        }

        &-text {
          @media (min-width: 768px) {
            margin-bottom: 38px;
          }
        }
      }
    }
  }
}
