@charset "UTF-8";

@font-face {
	font-family: 'TT Norms';
	src: url("../fonts/TTNorms/TTNorms-Regular.woff2") format("woff2"), url("../fonts/TTNorms/TTNorms-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'TT Norms';
	src: url("../fonts/TTNorms/TTNorms-Bold.woff2") format("woff2"), url("../fonts/TTNorms/TTNorms-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}



html {
	font-size: 62.5%;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

/*/ ========= Сброс (Заголовки) =============/*/
h1,
h2,
h3,
h4,
h5,
h6 {
	padding: 0;
	margin: 0;
	font-size: inherit;
	font-weight: inherit;
}

/*/ ========= Сброс (Параграф) =============/*/
p {
	padding: 0;
	margin: 0;
	-webkit-hyphens: auto;
	-webkit-hyphenate-limit-before: 3;
	-webkit-hyphenate-limit-after: 3;
	-webkit-hyphenate-limit-chars: 6 3 3;
	-webkit-hyphenate-limit-lines: 2;
	-webkit-hyphenate-limit-last: always;
	-webkit-hyphenate-limit-zone: 8%;
	-moz-hyphens: auto;
	-moz-hyphenate-limit-chars: 6 3 3;
	-moz-hyphenate-limit-lines: 2;
	-moz-hyphenate-limit-last: always;
	-moz-hyphenate-limit-zone: 8%;
	-ms-hyphens: auto;
	-ms-hyphenate-limit-chars: 6 3 3;
	-ms-hyphenate-limit-lines: 2;
	-ms-hyphenate-limit-last: always;
	-ms-hyphenate-limit-zone: 8%;
	hyphens: auto;
	hyphenate-limit-chars: 6 3 3;
	hyphenate-limit-lines: 2;
	hyphenate-limit-last: always;
	hyphenate-limit-zone: 8%;
}

/*/ ========= Сброс (Списки) =============/*/
ul,
ol {
	padding: 0;
	margin: 0;
	list-style: none;
}

/*/ ========= Сброс (Таблицы) =============/*/
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*/ ========= Сброс (Картинки) =============/*/
img {
	height: auto;
	max-width: 100%;
	vertical-align: middle;
	border: none;
}

/*/ ========= Сброс (Ссылки) =============/*/
a {
	text-decoration: none;
	font-family: inherit;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

/*/ ========= Сброс (Элементы формы) =============/*/
button,
input,
optgroup,
select,
textarea {
	padding: 0;
	margin: 0;
	border: none;
	border-radius: 0;
	box-shadow: none;
	background-color: transparent;
	font: inherit;
	color: inherit;
	letter-spacing: inherit;
}

/*/ ========= Сброс (Элементы формы (button, input)) =============/*/
button,
input {
	overflow: visible;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
	cursor: pointer;
	-webkit-appearance: none;
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
	border: none;
	padding: 0;
}

button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
	outline: none;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
	height: auto;
}

[type='search']::-webkit-search-decoration {
	-webkit-appearance: none;
}

[type='search'] {
	outline: none;
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

/*/ ========= Сброс (Элементы формы (select)) =============/*/
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

select::-ms-expand {
	display: none;
}

/*/ ========= Сброс (Элементы формы (textarea)) =============/*/
textarea {
	resize: none;
	overflow-y: auto;
	overflow-x: hidden;
}

/*/ ========= Сброс (Элементы формы (fieldset,legend)) =============/*/
fieldset {
	padding: 0;
	margin: 0;
	border: none;
}

legend {
	display: block;
	padding: 0;
	white-space: normal;
}

/*/ ========= Сброс (Элементы формы (placeholder)) =============/*/
::-webkit-input-placeholder {
	color: inherit;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	-webkit-transition: opacity .3s;
	transition: opacity .3s;
}

::-moz-placeholder {
	color: inherit;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	-webkit-transition: opacity .3s;
	transition: opacity .3s;
}

:-moz-placeholder {
	color: inherit;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	-webkit-transition: opacity .3s;
	transition: opacity .3s;
}

:-ms-input-placeholder {
	color: inherit;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	-webkit-transition: opacity .3s;
	transition: opacity .3s;
}

:focus::-webkit-input-placeholder {
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

:focus::-moz-placeholder {
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

:focus:-moz-placeholder {
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

:focus:-ms-input-placeholder {
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

/*/ ========= Сброс (Элементы формы (курсор) =============/*/
label,
button,
input,
select {
	cursor: pointer;
}

/*/ ========= Сброс (Векторная графика) =============/*/
svg {
	fill: currentColor;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

/*/ ========= Сброс (Отключение элемента) =============/*/
:disabled,
.disabled {
	cursor: not-allowed;
}

/*/ ========= Сброс (Цвет текста при выделении) =============/*/
::-moz-selection {
	color: #fff;
	background-color: #004fe4;
}

::selection {
	color: #fff;
	background-color: #004fe4;
}

/*/ ========= Сброс (Класс скрывающий элемент со страницы) =============/*/
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	-webkit-clip-path: inset(100%);
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/*/ =========== Body page =========== /*/
body {
	text-rendering: optimizeLegibility;
	-webkit-text-decoration-skip: objects;
	text-decoration-skip: objects;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: transparent;
	padding: inherit;
	margin: inherit;
	font-weight: 400;
	line-height: 1;
	font-family: "TT Norms", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 14px;
	color: #fff;
	background-color: #fff;
	overflow-x: hidden;
}

/*/ =========== Repeat (wrapper) ===========/*/
.container {
	width: 100%;
	margin: auto;
	max-width: 120rem;
	padding: 0rem 1.5rem;
}

.line {
	position: absolute;
	bottom: 0;
	width: 100%;
	left: 0;
	right: 0;
}

/*/ =========== Repeat (head) ===========/*/
.head {
	font-size: 26px;
	font-weight: 700;
	margin-bottom: 0.8rem;
}

/*/ =========== Repeat (button) ===========/*/
.btn {
	display: block;
	width: 100%;
	margin: auto;
	max-width: 15rem;
	text-align: center;
	padding: 1rem;
	outline: none;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	font-size: 1.4rem;
	border-radius: 30px;
	color: #fff;
	border: 1px solid #fff;
}

.btn:hover,
.btn:focus {
	color: #ff6d33;
}

.btn--orange {
	border-color: #ff6d33;
}

.hamburger {
	display: inline-block;
	position: relative;
	cursor: pointer;
	-webkit-transition-property: opacity, -webkit-filter;
	transition-property: opacity, -webkit-filter;
	transition-property: opacity, filter;
	transition-property: opacity, filter, -webkit-filter;
	-webkit-transition-duration: 0.15s;
	transition-duration: 0.15s;
	-webkit-transition-timing-function: linear;
	transition-timing-function: linear;
	font: inherit;
	color: inherit;
	text-transform: none;
	background-color: transparent;
	border: 0;
	margin: 0;
	overflow: visible;
}

.hamburger:hover {
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
}

.hamburger.is-active:hover {
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
}

.hamburger.is-active .hamburger-inner {
	background-color: #fff;
}

.hamburger.is-active .hamburger-inner:before,
.hamburger.is-active .hamburger-inner:after {
	background-color: #fff;
}

.hamburger-box {
	width: 3rem;
	height: 24px;
	display: inline-block;
	position: relative;
}

.hamburger-inner {
	display: block;
	top: 50%;
	margin-top: -2px;
	width: 3rem;
	height: 0.3rem;
	background-color: #fff;
	position: absolute;
	-webkit-transition-property: -webkit-transform;
	transition-property: -webkit-transform;
	transition-property: transform;
	transition-property: transform, -webkit-transform;
	-webkit-transition-duration: 0.15s;
	transition-duration: 0.15s;
	-webkit-transition-timing-function: ease;
	transition-timing-function: ease;
	outline: none;
}

.hamburger-inner:before,
.hamburger-inner:after {
	width: 3rem;
	height: 0.3rem;
	background-color: #fff;
	position: absolute;
	-webkit-transition-property: -webkit-transform;
	transition-property: -webkit-transform;
	transition-property: transform;
	transition-property: transform, -webkit-transform;
	-webkit-transition-duration: 0.15s;
	transition-duration: 0.15s;
	-webkit-transition-timing-function: ease;
	transition-timing-function: ease;
}

.hamburger-inner:before,
.hamburger-inner:after {
	content: "";
	display: block;
}

.hamburger-inner:before {
	top: -10px;
}

.hamburger-inner:after {
	bottom: -10px;
}

/**** ============
EFFECTS
============ ****/
.hamburger--elastic-r .hamburger-inner {
	top: 2px;
	-webkit-transition-duration: 0.275s;
	transition-duration: 0.275s;
	-webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hamburger--elastic-r .hamburger-inner:before {
	top: 10px;
	-webkit-transition: opacity 0.125s 0.275s ease;
	transition: opacity 0.125s 0.275s ease;
}

.hamburger--elastic-r .hamburger-inner:after {
	top: 20px;
	-webkit-transition: -webkit-transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	transition: -webkit-transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hamburger--elastic-r.is-active .hamburger-inner {
	-webkit-transform: translate3d(0, 10px, 0) rotate(-135deg);
	transform: translate3d(0, 10px, 0) rotate(-135deg);
	-webkit-transition-delay: 0.075s;
	transition-delay: 0.075s;
}

.hamburger--elastic-r.is-active .hamburger-inner:before {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.hamburger--elastic-r.is-active .hamburger-inner:after {
	-webkit-transform: translate3d(0, -20px, 0) rotate(270deg);
	transform: translate3d(0, -20px, 0) rotate(270deg);
	-webkit-transition-delay: 0.075s;
	transition-delay: 0.075s;
}

.nav {
	position: relative;
	box-shadow: 1px 3px 8px 0px rgba(4, 3, 44, 0.7);
	min-height: 6.1rem;
	background-color: #01005a;
}

.nav--fixed {
	position: fixed;
	width: 100%;
}

.header__wrapper {
	position: fixed;
	left: 0;
	top: 6rem;
	width: 80%;
	height: 100%;
	background: #0d0d70;
	padding: 33px 0 0 23px;
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
	-webkit-transition: opacity 0.3s ease-in, -webkit-transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
	transition: opacity 0.3s ease-in, -webkit-transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
	transition: transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.3s ease-in;
	transition: transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.3s ease-in, -webkit-transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.header__wrapper--open {
	-webkit-transform: translateX(0%);
	transform: translateX(0%);
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.nav__wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 100%;
	background-color: #01005a;
	padding: 8px;
}

.nav__wrapper--fixed {
	position: fixed;
}

.menu {
	width: 100%;
	background-color: inherit;
}

.menu__link {
	display: inline-block;
	padding: 1.5rem 0rem;
	padding-left: 1.5rem;
	color: #fff;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	position: relative;
	font-weight: 700;
	font-size: 1.4rem;
}

.menu__link:before {
	position: absolute;
	content: '';
	top: 50%;
	left: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 1rem;
	height: 1rem;
	background: url(../images/footer/plus.svg) no-repeat center;
}

.menu__link:hover,
.menu__link:focus {
	color: #ff6d33;
}

.logo {
	width: 16rem;
	height: 4.5rem;
}

.header {
	position: relative;
	z-index: 10;
}

.promo {
	padding-top: 90px;
	padding-bottom: 90px;
	background-color: #01005a;
	border-bottom-left-radius: 100px;
	text-align: center;
}

.promo__head {
	font-size: 20px;
	line-height: 1.4;
	color: #fff;
	margin-bottom: 1rem;
	font-weight: 800;
}

.promo__text {
	margin-bottom: 3rem;
	font-size: 14px;
	line-height: 1.3;
}

.promo__logo {
	max-width: 35rem;
	margin: auto;
	margin-bottom: 2rem;
	display: block;
}

.promo__image {
	max-width: 13rem;
	margin: auto;
	display: block;
}

.advantages {
	padding-top: 90px;
	padding-bottom: 90px;
}

.advantages__list {
	display: -ms-grid;
	display: grid;
	grid-row-gap: 5rem;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.advantages-item {
	border-radius: 2rem;
	background-color: #4275fa;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 2rem;
	max-width: 47rem;
	width: 100%;
	position: relative;
}

.advantages-item__image {
	width: 50%;
	height: 11rem;
	padding: 1rem;
}

.advantages-item__text {
	line-height: 2.4rem;
	max-width: 50%;
	width: 100%;
}

.transmission {
	padding: 7rem 0 5rem;
	background-color: #01005a;
	position: relative;
}

.transmission__head {
	position: relative;
	padding-bottom: 1.2rem;
}

.transmission__head:after {
	position: absolute;
	content: '';
	bottom: 0;
	left: 0;
	max-width: 60rem;
	width: 100%;
	background-color: #3076ff;
	height: 0.2rem;
}

.transmission__text {
	line-height: 2.4rem;
}

.transmission__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-bottom: 5rem;
}

.transmission-item {
	max-width: 60rem;
	margin: auto;
}

.transmission-item:first-child {
	margin-bottom: 4rem;
}

.transmission-item__image {
	margin: auto;
	margin-bottom: 2rem;
	display: block;
}

.transmission-item__text {
	line-height: 2.4rem;
}

.messenger {
	padding-top: 7rem;
	background-color: #01005a;
	z-index: 2;
	position: relative;
}

.messenger__inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.messenger__content {
	max-width: 60rem;
}

.messenger__image {
	max-width: 60rem;
	width: 100%;
}

.messenger__text {
	margin-bottom: 5rem;
	line-height: 2.4rem;
}

.messenger__row {
	max-width: 32rem;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.messenger__btn {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.messenger__btn img {
	width: 2rem;
	height: 2rem;
	margin-right: 2rem;
}

.form {
	border: 1px solid #fff;
	border-radius: 2rem;
	padding: 2rem;
}

.form__title {
	font-size: 22px;
	margin-bottom: 2rem;
	color: #fff;
	font-weight: 700;
}

.form__input {
	width: 100%;
	padding: 1rem 1.5rem;
	background-color: #ffffff;
	color: #212529;
	outline: none;
	border: 2px solid transparent;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	border-radius: 2rem;
}

.form__input:focus {
	border-color: #ff6d33;
}

.form__label {
	display: block;
	border-radius: 2rem;
	overflow: hidden;
	width: 100%;
}

.form__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.form__row--vertical {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.form__text {
	line-height: 1.3;
	font-size: 1.4rem;
	margin-bottom: 2rem;
}

.form__btn {
	padding: 11px 5px;
	background-color: #ff6d33;
	border: 1px solid #ff6d33;
	color: #fff;
	font-size: 10px;
	text-align: center;
	display: block;
	border-radius: 2rem;
	outline: none;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.form__btn:hover,
.form__btn:focus {
	background-color: #da5926;
}

.mobile {
	background-color: #36f;
	padding-top: 9rem;
	position: relative;
	z-index: 1;
}

.mobile:before {
	height: 14rem;
	width: 100%;
	top: -14rem;
	left: 0;
	position: absolute;
	content: '';
	background-color: #36f;
}

.mobile__inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: reverse;
	-ms-flex-direction: column-reverse;
	flex-direction: column-reverse;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.mobile__content {
	max-width: 69.9rem;
	width: 100%;
}

.mobile__preview {
	max-width: 47rem;
	width: 100%;
	background: url(../images/mobile/shahmat.svg) no-repeat center/cover;
}

.mobile__text {
	margin-bottom: 5rem;
	line-height: 1.3;
}

.mobile__form {
	max-width: 36rem;
	margin: auto;
}

.mobile__form .form__row {
	position: relative;
}

.mobile__form .form__btn {
	position: absolute;
	right: 3px;
	top: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.form {
	border: 1px solid #fff;
	border-radius: 2rem;
	padding: 2rem;
}

.form__title {
	font-size: 22px;
	margin-bottom: 2rem;
	color: #fff;
	font-weight: 700;
}

.form__input {
	width: 100%;
	padding: 1rem 1.5rem;
	background-color: #ffffff;
	color: #212529;
	outline: none;
	border: 2px solid transparent;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	border-radius: 2rem;
}

.form__input:focus {
	border-color: #ff6d33;
}

.form__label {
	display: block;
	border-radius: 2rem;
	overflow: hidden;
	width: 100%;
}

.form__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.form__row--vertical {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.form__text {
	line-height: 1.3;
	font-size: 1.4rem;
	margin-bottom: 2rem;
}

.form__btn {
	padding: 11px 5px;
	background-color: #ff6d33;
	border: 1px solid #ff6d33;
	color: #fff;
	font-size: 10px;
	text-align: center;
	display: block;
	border-radius: 2rem;
	outline: none;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.form__btn:hover,
.form__btn:focus {
	background-color: #da5926;
}

.unique {
	padding: 8.4rem 0rem;
	background-color: #36f;
}

.unique__text {
	margin-bottom: 4rem;
}

.unique__list {
	display: -ms-grid;
	display: grid;
	grid-row-gap: 3rem;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin-bottom: 3rem;
}

.unique-item {
	border-radius: 2rem;
	background-color: #fff;
	padding: 3rem;
	text-align: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.unique-item__image {
	max-width: 35rem;
	max-height: 27.7rem;
	margin: auto;
	margin-bottom: 1rem;
}

.unique-item__title {
	font-size: 24px;
	color: #01005a;
	position: relative;
	text-align: left;
	max-width: 42rem;
}

.unique-item__title:after {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	height: 2px;
	width: 100%;
	background-color: #01005a;
	display: none;
}

.unique__btn {
	margin: auto;
	margin-bottom: 2rem;
}

.unique__form {
	border: 1px dashed #fff;
}

.unique__form .form__label {
	margin-bottom: 1.5rem;
}

.unique__form .form__btn {
	font-size: 1.4rem;
}

.footer {
	background-color: #01005a;
}

.footer__inner {
	padding: 0;
}

.footer__logo {
	max-width: 12rem;
	display: block;
	margin-bottom: 1.5rem;
}

.footer-column {
	padding: 5rem;
}

.footer-column:nth-child(1) {
	padding-right: 0;
	background-color: #0d0d70;
	position: relative;
}

.footer-column:nth-child(1):after {
	position: absolute;
	content: '';
	right: -2rem;
	top: 4rem;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 20px 0 20px 20px;
	border-color: transparent transparent transparent #0d0d70;
	display: none;
}

.footer-column:nth-child(3) {
	-ms-grid-row: 2;
	-ms-grid-row-span: 1;
	-ms-grid-column: 1;
	-ms-grid-column-span: 2;
	grid-area: 2 / 1 / 3 / 3;
}

.footer-menu__link {
	display: inline-block;
	padding: 1.5rem 0rem;
	padding-left: 1.5rem;
	color: #fff;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	position: relative;
	font-weight: 700;
	font-size: 1.4rem;
}

.footer-menu__link:before {
	position: absolute;
	content: '';
	top: 50%;
	left: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 1rem;
	height: 1rem;
	background: url(../images/footer/plus.svg) no-repeat center;
}

.footer-menu__link:hover,
.footer-menu__link:focus {
	color: #ff6d33;
}

.footer__head {
	font-size: 20px;
	margin-bottom: 3.5rem;
	color: #fff;
}

.footer-list__item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.footer-list__item:not(:last-child) {
	margin-bottom: 5rem;
}

.footer-list__ico {
	width: 1.5rem;
	margin-right: 1rem;
}

.footer-list__link {
	color: #fff;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.footer-list__link:hover,
.footer-list__link:focus {
	color: #ff6d33;
}

.footer__form {
	padding: 0;
	border: 0;
	max-width: 37rem;
	margin-bottom: 2rem;
}

.footer__form .form__row {
	position: relative;
}

.footer__form .form__btn {
	position: absolute;
	right: 3px;
	top: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.social {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	max-width: 20rem;
	width: 100%;
}

.social__link {
	display: block;
	width: 2.5rem;
}

@media (min-width: 320px) {
	body {
		font-size: 17px;
		font-size: calc(0.00341 * 100vw + 12.90909px);
	}

	.head {
		font-size: 36px;
		font-size: calc(0.01136 * 100vw + 22.36364px);
	}

	.promo {
		padding-top: calc(6.81818vw + 68.18182px);
	}

	.promo {
		padding-bottom: calc(6.81818vw + 68.18182px);
	}

	.promo__head {
		font-size: 30px;
		font-size: calc(0.01136 * 100vw + 16.36364px);
	}

	.promo__text {
		font-size: 18px;
		font-size: calc(0.00455 * 100vw + 12.54545px);
	}

	.advantages {
		padding-top: calc(7.72727vw + 65.27273px);
	}

	.advantages {
		padding-bottom: calc(6.36364vw + 69.63636px);
	}

	.form__title {
		font-size: 32px;
		font-size: calc(0.01136 * 100vw + 18.36364px);
	}

	.form__title {
		font-size: 32px;
		font-size: calc(0.01136 * 100vw + 18.36364px);
	}

	.unique-item__title {
		font-size: 34px;
		font-size: calc(0.01136 * 100vw + 20.36364px);
	}

	.footer__head {
		font-size: 24px;
		font-size: calc(0.00455 * 100vw + 18.54545px);
	}
}







@media (min-width: 576px) {
	.advantages__list {
		-ms-grid-columns: (1fr)[2];
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 3rem;
	}

	.unique__list {
		-ms-grid-columns: (48%)[2];
		grid-template-columns: repeat(2, 48%);
		grid-gap: 0rem;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}

	.footer__inner {
		display: -ms-grid;
		display: grid;
		-ms-grid-columns: (1fr)[2];
		grid-template-columns: repeat(2, 1fr);
	}

	.footer-column:nth-child(1):after {
		display: block;
	}
}

@media (min-width: 768px) {
	.hamburger {
		display: none;
	}

	.header__wrapper {
		position: static;
		padding: 0;
		-webkit-transform: translateX(0%);
		transform: translateX(0%);
		opacity: 1;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		background-color: transparent;
		max-width: 55rem;
	}

	.menu {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}

	.menu__link:before {
		display: none;
	}

	.menu__link {
		padding: 0;
	}

	.promo__inner {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}

	.promo__content {
		max-width: 37rem;
		text-align: left;
	}

	.promo__logo {
		margin-left: 0;
	}

	.promo__image {
		max-width: 24rem;
	}

	.messenger {
		padding: 5rem 0rem;
		border-bottom-right-radius: 100px;
	}

	.messenger__inner {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}

	.form__row--vertical {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-webkit-box-align: stretch;
		-ms-flex-align: stretch;
		-ms-grid-row-align: stretch;
		align-items: stretch;
	}

	.form__row--vertical>* {
		width: 30%;
	}

	.mobile {
		padding-top: 4rem;
	}

	.mobile__inner {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
	}

	.mobile__form {
		margin-left: 0;
	}

	.form__row--vertical {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-webkit-box-align: stretch;
		-ms-flex-align: stretch;
		-ms-grid-row-align: stretch;
		align-items: stretch;
	}

	.form__row--vertical>* {
		width: 30%;
	}

	.unique-item__image {
		height: 27.7rem;
		margin: 0;
	}

	.unique__form {
		padding: 6rem;
	}

	.unique__form .form__label {
		margin: 0;
	}

	.unique__form .form__row {
		max-width: 60rem;
		width: 100%;
	}
}

@media (min-width: 992px) {
	.nav__wrapper {
		box-shadow: none;
	}

	.promo__content {
		max-width: 63rem;
	}

	.advantages__list {
		-ms-grid-columns: (47%)[2];
		grid-template-columns: repeat(2, 47%);
		grid-gap: 9rem 0;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}

	.advantages-item {
		max-width: 100%;
		padding: 4rem 2rem;
	}

	.advantages-item__image {
		position: absolute;
		top: -3rem;
		width: 22rem;
		height: 19.2rem;
		padding: 0;
		left: 0;
	}

	.advantages-item__text {
		padding: 1rem;
		margin-left: auto;
	}

	.transmission__list {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}

	.transmission-item:first-child {
		margin-bottom: 0;
	}

	.transmission-item:first-child .transmission-item__image {
		height: 21rem;
		margin-top: -5rem;
		margin-bottom: 7rem;
	}

	.transmission-item {
		margin: 0;
		padding: 0rem 1.5rem;
	}

	.transmission-item__image {
		width: 35rem;
		height: 25rem;
	}

	.unique-item__title {
		margin-top: 3rem;
	}

	.unique-item__title:after {
		display: block;
	}

	.footer__inner {
		-ms-grid-columns: (1fr)[3];
		grid-template-columns: repeat(3, 1fr);
	}

	.footer-column {
		padding: 3rem;
	}

	.footer-column:nth-child(3) {
		grid-area: unset;
	}
}

@media (min-width: 1200px) {
	body {
		font-size: 17px;
	}

	.head {
		font-size: 36px;
	}

	.promo {
		padding-top: 150;
	}

	.promo {
		padding-bottom: 150px;
	}

	.promo__head {
		font-size: 30px;
	}

	.promo__text {
		font-size: 18px;
	}

	.advantages {
		padding-top: 158px;
	}

	.advantages {
		padding-bottom: 146px;
	}

	.form__title {
		font-size: 32px;
	}

	.form__title {
		font-size: 32px;
	}

	.unique-item__title {
		font-size: 34px;
	}

	.footer-column {
		padding: 5rem;
	}

	.footer__head {
		font-size: 24px;
	}
}