@charset 'UTF-8';
html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/*/ ========= Сброс (Заголовки) =============/*/
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-size: inherit;
    font-weight: inherit;
}

/*/ ========= Сброс (Параграф) =============/*/
p {
    margin: 0;
    padding: 0;
    -webkit-hyphens: auto;
            hyphens: auto;

    -webkit-hyphenate-limit-before: 3;
    -webkit-hyphenate-limit-after: 3;
    -webkit-hyphenate-limit-chars: 6 3 3;
    -webkit-hyphenate-limit-lines: 2;
    -webkit-hyphenate-limit-last: always;
    -webkit-hyphenate-limit-zone: 8%;
       -moz-hyphenate-limit-chars: 6 3 3;
       -moz-hyphenate-limit-lines: 2;
       -moz-hyphenate-limit-last: always;
       -moz-hyphenate-limit-zone: 8%;
        -ms-hyphens: auto;
        -ms-hyphenate-limit-chars: 6 3 3;
        -ms-hyphenate-limit-lines: 2;
        -ms-hyphenate-limit-last: always;
        -ms-hyphenate-limit-zone: 8%;
            hyphenate-limit-chars: 6 3 3;
            hyphenate-limit-lines: 2;
            hyphenate-limit-last: always;
            hyphenate-limit-zone: 8%;
}

/*/ ========= Сброс (Списки) =============/*/
ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

/*/ ========= Сброс (Таблицы) =============/*/
table {
    border-spacing: 0;
    border-collapse: collapse;
}

/*/ ========= Сброс (Картинки) =============/*/
img {
    max-width: 100%;
    height: auto;
    border: none;
    vertical-align: middle;
}

/*/ ========= Сброс (Ссылки) =============/*/
a {
    font-family: inherit;
    transition: all .3s ease;
    text-decoration: none;
}

/*/ ========= Сброс (Элементы формы) =============/*/
button,
input,
optgroup,
select,
textarea {
    margin: 0;
    padding: 0;
    font: inherit;
    color: inherit;
    border: none;
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
    letter-spacing: inherit;
}

/*/ ========= Сброс (Элементы формы (button, input)) =============/*/
button,
input {
    overflow: visible;
    transition: all .3s ease;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
    cursor: pointer;

    -webkit-appearance: none;
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
    padding: 0;
    border: none;
}

button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
    outline: none;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
    height: auto;
}

[type='search']::-webkit-search-decoration {
    -webkit-appearance: none;
}

[type='search'] {
    outline: none;
}

::-webkit-file-upload-button {
    font: inherit;

    -webkit-appearance: button;
}

/*/ ========= Сброс (Элементы формы (select)) =============/*/
select {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

select::-ms-expand {
    display: none;
}

/*/ ========= Сброс (Элементы формы (textarea)) =============/*/
textarea {
    overflow-x: hidden;
    overflow-y: auto;
    resize: none;
}

/*/ ========= Сброс (Элементы формы (fieldset,legend)) =============/*/
fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

legend {
    display: block;
    padding: 0;
    white-space: normal;
}

/*/ ========= Сброс (Элементы формы (placeholder)) =============/*/
::-webkit-input-placeholder {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    color: inherit;
    transition: opacity .3s;
}

::-moz-placeholder {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    color: inherit;
    transition: opacity .3s;
}

:-moz-placeholder {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    color: inherit;
    transition: opacity .3s;
}

:-ms-input-placeholder {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    color: inherit;
    transition: opacity .3s;
}

:focus::-webkit-input-placeholder {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

:focus::-moz-placeholder {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

:focus:-moz-placeholder {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

:focus:-ms-input-placeholder {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

/*/ ========= Сброс (Элементы формы (курсор) =============/*/
label,
button,
input,
select {
    cursor: pointer;
}

/*/ ========= Сброс (Векторная графика) =============/*/
svg {
    transition: all .3s ease;

    fill: currentColor;
}

/*/ ========= Сброс (Отключение элемента) =============/*/
:disabled,
.disabled {
    cursor: not-allowed;
}

/*/ ========= Сброс (Цвет текста при выделении) =============/*/
::-moz-selection {
    color: #fff;
    background-color: #004fe4;
}
::selection {
    color: #fff;
    background-color: #004fe4;
}

/**
 * Swiper 4.5.0
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 * http://www.idangero.us/swiper/
 *
 * Copyright 2014-2019 Vladimir Kharlampidi
 *
 * Released under the MIT License
 *
 * Released on: February 22, 2019
 */
.swiper-container {
    position: relative;
    z-index: 1;
    overflow: hidden;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

.swiper-container-no-flexbox .swiper-slide {
    float: left;
}

.swiper-container-vertical > .swiper-wrapper {
            flex-direction: column;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
}

.swiper-wrapper {
    position: relative;
    z-index: 1;
    display: -ms-flexbox;
    display:         flex;
    box-sizing: content-box;
    width: 100%;
    height: 100%;
    transition-property:         transform;
}

.swiper-container-android .swiper-slide,
.swiper-wrapper {
    transform: translate3d(0, 0, 0);
}

.swiper-container-multirow > .swiper-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.swiper-container-free-mode > .swiper-wrapper {
    margin: 0 auto;
    transition-timing-function: ease-out;
}

.swiper-slide {
    position: relative;
    width: 100%;
    height: 100%;
    transition-property:         transform;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.swiper-slide-invisible-blank {
    visibility: hidden;
}

.swiper-container-autoheight,
.swiper-container-autoheight .swiper-slide {
    height: auto;
}

.swiper-container-autoheight .swiper-wrapper {
    transition-property: transform,height;
    -ms-flex-align: start;
    -ms-grid-row-align: flex-start;
        align-items: flex-start;
}

.swiper-container-3d {
    perspective: 1200px;
}

.swiper-container-3d .swiper-cube-shadow,
.swiper-container-3d .swiper-slide,
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-wrapper {
    transform-style: preserve-3d;
}

.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.swiper-container-3d .swiper-slide-shadow-left {
    background-image:         linear-gradient(to left, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
}

.swiper-container-3d .swiper-slide-shadow-right {
    background-image:         linear-gradient(to right, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
}

.swiper-container-3d .swiper-slide-shadow-top {
    background-image:         linear-gradient(to top, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
}

.swiper-container-3d .swiper-slide-shadow-bottom {
    background-image:         linear-gradient(to bottom, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
}

.swiper-container-wp8-horizontal,
.swiper-container-wp8-horizontal > .swiper-wrapper {
    -ms-touch-action: pan-y;
        touch-action: pan-y;
}

.swiper-container-wp8-vertical,
.swiper-container-wp8-vertical > .swiper-wrapper {
    -ms-touch-action: pan-x;
        touch-action: pan-x;
}

.swiper-button-next,
.swiper-button-prev {
    position: absolute;
    z-index: 10;
    top: 50%;
    width: 27px;
    height: 44px;
    margin-top: -22px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 27px 44px;
    cursor: pointer;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
    opacity: .35;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=35)";
    cursor: auto;
    pointer-events: none;
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
    right: auto;
    left: 10px;
    background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D\'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg\'%20viewBox%3D\'0%200%2027%2044\'%3E%3Cpath%20d%3D\'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z\'%20fill%3D\'%23007aff\'%2F%3E%3C%2Fsvg%3E');
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
    right: 10px;
    left: auto;
    background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D\'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg\'%20viewBox%3D\'0%200%2027%2044\'%3E%3Cpath%20d%3D\'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z\'%20fill%3D\'%23007aff\'%2F%3E%3C%2Fsvg%3E');
}

.swiper-button-prev.swiper-button-white,
.swiper-container-rtl .swiper-button-next.swiper-button-white {
    background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D\'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg\'%20viewBox%3D\'0%200%2027%2044\'%3E%3Cpath%20d%3D\'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z\'%20fill%3D\'%23ffffff\'%2F%3E%3C%2Fsvg%3E');
}

.swiper-button-next.swiper-button-white,
.swiper-container-rtl .swiper-button-prev.swiper-button-white {
    background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D\'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg\'%20viewBox%3D\'0%200%2027%2044\'%3E%3Cpath%20d%3D\'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z\'%20fill%3D\'%23ffffff\'%2F%3E%3C%2Fsvg%3E');
}

.swiper-button-prev.swiper-button-black,
.swiper-container-rtl .swiper-button-next.swiper-button-black {
    background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D\'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg\'%20viewBox%3D\'0%200%2027%2044\'%3E%3Cpath%20d%3D\'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z\'%20fill%3D\'%23000000\'%2F%3E%3C%2Fsvg%3E');
}

.swiper-button-next.swiper-button-black,
.swiper-container-rtl .swiper-button-prev.swiper-button-black {
    background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D\'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg\'%20viewBox%3D\'0%200%2027%2044\'%3E%3Cpath%20d%3D\'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z\'%20fill%3D\'%23000000\'%2F%3E%3C%2Fsvg%3E');
}

.swiper-button-lock {
    display: none;
}

.swiper-pagination {
    position: absolute;
    z-index: 10;
    transition: .3s opacity;
    transform: translate3d(0, 0, 0);
    text-align: center;
}

.swiper-pagination.swiper-pagination-hidden {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: 10px;
    left: 0;
    width: 100%;
}

.swiper-pagination-bullets-dynamic {
    overflow: hidden;
    font-size: 0;
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
    position: relative;
    transform: scale(.33);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active {
    transform: scale(1);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main {
    transform: scale(1);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev {
    transform: scale(.66);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev {
    transform: scale(.33);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
    transform: scale(.66);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
    transform: scale(.33);
}

.swiper-pagination-bullet {
    display: inline-block;
    width: 8px;
    height: 8px;
    opacity: .2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    border-radius: 100%;
    background: #000;
}

button.swiper-pagination-bullet {
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;

    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    background: #007aff;
}

.swiper-container-vertical > .swiper-pagination-bullets {
    top: 50%;
    right: 10px;
    transform: translate3d(0, -50%, 0);
}

.swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
    display: block;
    margin: 6px 0;
}

.swiper-container-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    top: 50%;
    width: 8px;
    transform: translateY(-50%);
}

.swiper-container-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
    display: inline-block;
    transition: .2s top,.2s -webkit-transform;
    transition: .2s transform,.2s top;
            transition: .2s transform,.2s top,.2s -webkit-transform;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 4px;
}

.swiper-container-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

.swiper-container-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
    transition: .2s left,.2s -webkit-transform;
    transition: .2s transform,.2s left;
            transition: .2s transform,.2s left,.2s -webkit-transform;
}

.swiper-container-horizontal.swiper-container-rtl > .swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
    transition: .2s right,.2s -webkit-transform;
    transition: .2s transform,.2s right;
            transition: .2s transform,.2s right,.2s -webkit-transform;
}

.swiper-pagination-progressbar {
    position: absolute;
    background: rgba(0, 0, 0, .25);
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #007aff;
    transform: scale(0);
    transform-origin: left top;
}

.swiper-container-rtl .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    transform-origin: right top;
}

.swiper-container-horizontal > .swiper-pagination-progressbar,
.swiper-container-vertical > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
}

.swiper-container-horizontal > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite,
.swiper-container-vertical > .swiper-pagination-progressbar {
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
}

.swiper-pagination-white .swiper-pagination-bullet-active {
    background: #fff;
}

.swiper-pagination-progressbar.swiper-pagination-white {
    background: rgba(255, 255, 255, .25);
}

.swiper-pagination-progressbar.swiper-pagination-white .swiper-pagination-progressbar-fill {
    background: #fff;
}

.swiper-pagination-black .swiper-pagination-bullet-active {
    background: #000;
}

.swiper-pagination-progressbar.swiper-pagination-black {
    background: rgba(0, 0, 0, .25);
}

.swiper-pagination-progressbar.swiper-pagination-black .swiper-pagination-progressbar-fill {
    background: #000;
}

.swiper-pagination-lock {
    display: none;
}

.swiper-scrollbar {
    position: relative;
    border-radius: 10px;
    background: rgba(0, 0, 0, .1);

    -ms-touch-action: none;
}

.swiper-container-horizontal > .swiper-scrollbar {
    position: absolute;
    z-index: 50;
    bottom: 3px;
    left: 1%;
    width: 98%;
    height: 5px;
}

.swiper-container-vertical > .swiper-scrollbar {
    position: absolute;
    z-index: 50;
    top: 1%;
    right: 3px;
    width: 5px;
    height: 98%;
}

.swiper-scrollbar-drag {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: rgba(0, 0, 0, .5);
}

.swiper-scrollbar-cursor-drag {
    cursor: move;
}

.swiper-scrollbar-lock {
    display: none;
}

.swiper-zoom-container {
    display: -ms-flexbox;
    display:         flex;
    width: 100%;
    height: 100%;
    text-align: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}

.swiper-zoom-container > canvas,
.swiper-zoom-container > img,
.swiper-zoom-container > svg {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.swiper-slide-zoomed {
    cursor: move;
}

.swiper-lazy-preloader {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    width: 42px;
    height: 42px;
    margin-top: -21px;
    margin-left: -21px;
    transform-origin: 50%;
    animation: swiper-preloader-spin 1s steps(12, end) infinite;
}

.swiper-lazy-preloader:after {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D\'0%200%20120%20120\'%20xmlns%3D\'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg\'%20xmlns%3Axlink%3D\'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink\'%3E%3Cdefs%3E%3Cline%20id%3D\'l\'%20x1%3D\'60\'%20x2%3D\'60\'%20y1%3D\'7\'%20y2%3D\'27\'%20stroke%3D\'%236c6c6c\'%20stroke-width%3D\'11\'%20stroke-linecap%3D\'round\'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D\'%23l\'%20opacity%3D\'.27\'%2F%3E%3Cuse%20xlink%3Ahref%3D\'%23l\'%20opacity%3D\'.27\'%20transform%3D\'rotate(30%2060%2C60)\'%2F%3E%3Cuse%20xlink%3Ahref%3D\'%23l\'%20opacity%3D\'.27\'%20transform%3D\'rotate(60%2060%2C60)\'%2F%3E%3Cuse%20xlink%3Ahref%3D\'%23l\'%20opacity%3D\'.27\'%20transform%3D\'rotate(90%2060%2C60)\'%2F%3E%3Cuse%20xlink%3Ahref%3D\'%23l\'%20opacity%3D\'.27\'%20transform%3D\'rotate(120%2060%2C60)\'%2F%3E%3Cuse%20xlink%3Ahref%3D\'%23l\'%20opacity%3D\'.27\'%20transform%3D\'rotate(150%2060%2C60)\'%2F%3E%3Cuse%20xlink%3Ahref%3D\'%23l\'%20opacity%3D\'.37\'%20transform%3D\'rotate(180%2060%2C60)\'%2F%3E%3Cuse%20xlink%3Ahref%3D\'%23l\'%20opacity%3D\'.46\'%20transform%3D\'rotate(210%2060%2C60)\'%2F%3E%3Cuse%20xlink%3Ahref%3D\'%23l\'%20opacity%3D\'.56\'%20transform%3D\'rotate(240%2060%2C60)\'%2F%3E%3Cuse%20xlink%3Ahref%3D\'%23l\'%20opacity%3D\'.66\'%20transform%3D\'rotate(270%2060%2C60)\'%2F%3E%3Cuse%20xlink%3Ahref%3D\'%23l\'%20opacity%3D\'.75\'%20transform%3D\'rotate(300%2060%2C60)\'%2F%3E%3Cuse%20xlink%3Ahref%3D\'%23l\'%20opacity%3D\'.85\'%20transform%3D\'rotate(330%2060%2C60)\'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100%;
    content: '';
}

.swiper-lazy-preloader-white:after {
    background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D\'0%200%20120%20120\'%20xmlns%3D\'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg\'%20xmlns%3Axlink%3D\'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink\'%3E%3Cdefs%3E%3Cline%20id%3D\'l\'%20x1%3D\'60\'%20x2%3D\'60\'%20y1%3D\'7\'%20y2%3D\'27\'%20stroke%3D\'%23fff\'%20stroke-width%3D\'11\'%20stroke-linecap%3D\'round\'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D\'%23l\'%20opacity%3D\'.27\'%2F%3E%3Cuse%20xlink%3Ahref%3D\'%23l\'%20opacity%3D\'.27\'%20transform%3D\'rotate(30%2060%2C60)\'%2F%3E%3Cuse%20xlink%3Ahref%3D\'%23l\'%20opacity%3D\'.27\'%20transform%3D\'rotate(60%2060%2C60)\'%2F%3E%3Cuse%20xlink%3Ahref%3D\'%23l\'%20opacity%3D\'.27\'%20transform%3D\'rotate(90%2060%2C60)\'%2F%3E%3Cuse%20xlink%3Ahref%3D\'%23l\'%20opacity%3D\'.27\'%20transform%3D\'rotate(120%2060%2C60)\'%2F%3E%3Cuse%20xlink%3Ahref%3D\'%23l\'%20opacity%3D\'.27\'%20transform%3D\'rotate(150%2060%2C60)\'%2F%3E%3Cuse%20xlink%3Ahref%3D\'%23l\'%20opacity%3D\'.37\'%20transform%3D\'rotate(180%2060%2C60)\'%2F%3E%3Cuse%20xlink%3Ahref%3D\'%23l\'%20opacity%3D\'.46\'%20transform%3D\'rotate(210%2060%2C60)\'%2F%3E%3Cuse%20xlink%3Ahref%3D\'%23l\'%20opacity%3D\'.56\'%20transform%3D\'rotate(240%2060%2C60)\'%2F%3E%3Cuse%20xlink%3Ahref%3D\'%23l\'%20opacity%3D\'.66\'%20transform%3D\'rotate(270%2060%2C60)\'%2F%3E%3Cuse%20xlink%3Ahref%3D\'%23l\'%20opacity%3D\'.75\'%20transform%3D\'rotate(300%2060%2C60)\'%2F%3E%3Cuse%20xlink%3Ahref%3D\'%23l\'%20opacity%3D\'.85\'%20transform%3D\'rotate(330%2060%2C60)\'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
}

@keyframes swiper-preloader-spin {
    100% {
        transform: rotate(360deg);
    }
}

.swiper-container .swiper-notification {
    position: absolute;
    z-index: -1000;
    top: 0;
    left: 0;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    pointer-events: none;
}

.swiper-container-fade.swiper-container-free-mode .swiper-slide {
    transition-timing-function: ease-out;
}

.swiper-container-fade .swiper-slide {
    transition-property: opacity;
    pointer-events: none;
}

.swiper-container-fade .swiper-slide .swiper-slide {
    pointer-events: none;
}

.swiper-container-fade .swiper-slide-active,
.swiper-container-fade .swiper-slide-active .swiper-slide-active {
    pointer-events: auto;
}

.swiper-container-cube {
    overflow: visible;
}

.swiper-container-cube .swiper-slide {
    z-index: 1;
    visibility: hidden;
    width: 100%;
    height: 100%;
    transform-origin: 0 0;
    pointer-events: none;

    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}

.swiper-container-cube .swiper-slide .swiper-slide {
    pointer-events: none;
}

.swiper-container-cube.swiper-container-rtl .swiper-slide {
    transform-origin: 100% 0;
}

.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-active .swiper-slide-active {
    pointer-events: auto;
}

.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-next,
.swiper-container-cube .swiper-slide-next + .swiper-slide,
.swiper-container-cube .swiper-slide-prev {
    visibility: visible;
    pointer-events: auto;
}

.swiper-container-cube .swiper-slide-shadow-bottom,
.swiper-container-cube .swiper-slide-shadow-left,
.swiper-container-cube .swiper-slide-shadow-right,
.swiper-container-cube .swiper-slide-shadow-top {
    z-index: 0;

    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}

.swiper-container-cube .swiper-cube-shadow {
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .6;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    background: #000;

    -webkit-filter: blur(50px);
            filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="50" /></filter></svg>#filter');
            filter: blur(50px);
            filter: progid:DXImageTransform.Microsoft.Blur(pixelradius=50);
}

.swiper-container-flip {
    overflow: visible;
}

.swiper-container-flip .swiper-slide {
    z-index: 1;
    pointer-events: none;

    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}

.swiper-container-flip .swiper-slide .swiper-slide {
    pointer-events: none;
}

.swiper-container-flip .swiper-slide-active,
.swiper-container-flip .swiper-slide-active .swiper-slide-active {
    pointer-events: auto;
}

.swiper-container-flip .swiper-slide-shadow-bottom,
.swiper-container-flip .swiper-slide-shadow-left,
.swiper-container-flip .swiper-slide-shadow-right,
.swiper-container-flip .swiper-slide-shadow-top {
    z-index: 0;

    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}

.swiper-container-coverflow .swiper-wrapper {
    -ms-perspective: 1200px;
}

body {
    overflow-x: hidden;
    margin: inherit;
    padding: inherit;
    font-family: 'Rubik', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    color: #3a3a3a;
    background-color: #fff;

    text-rendering: optimizeLegibility;
    -webkit-text-decoration-skip: objects;
            text-decoration-skip: objects;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
}

@font-face {
    font-family: 'fontello';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/icons/fontello.eot?11107369');
    src: url('../fonts/icons/fontello.eot?11107369#iefix') format('embedded-opentype'), url('../fonts/icons/fontello.woff2?11107369') format('woff2'), url('../fonts/icons/fontello.woff?11107369') format('woff'), url('../fonts/icons/fontello.ttf?11107369') format('truetype'), url('../fonts/icons/fontello.svg?11107369#fontello') format('svg');
}

[class^='icon-']:before,
[class*=' icon-']:before {
    display: inline-block;
    width: 1em;
    margin-right: .2em;
    margin-left: .2em;
    font-family: 'fontello';
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    line-height: 1em;
    text-align: center;
    text-decoration: inherit;
    text-transform: none;

    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
    content: '\e800';
}

.icon-play:before {
    content: '\e801';
}

.icon-heart:before {
    content: '\e802';
}

.icon-location:before {
    content: '\f031';
}

.icon-twitter:before {
    content: '\f099';
}

.icon-facebook:before {
    content: '\f09a';
}

.icon-youtube-play:before {
    content: '\f16a';
}

.icon-instagram:before {
    content: '\f16d';
}

.icon-flickr:before {
    content: '\f16e';
}

.icon-up:before {
    content: '\f176';
}

.icon-right:before {
    content: '\f178';
}

.head {
    font-family: 'Playfair Display', serif;
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    letter-spacing: .144rem;
}

.sub-text {
    text-align: center;
}

.container {
    width: 100%;
    max-width: 120rem;
    margin: auto;
    padding: 0rem 1.5rem;
}

.visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    white-space: nowrap;

    -webkit-clip-path: inset(100%);

            clip-path: inset(100%);
}

.pd {
    padding-top: 60px;
    padding-bottom: 60px;
}

.orange {
    color: #d6a862;
}

.btn-top {
    position: fixed;
    z-index: -10;
    right: 3rem;
    bottom: 0rem;
    padding: 2rem 3rem;
    font-size: 1.4rem;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    color: #fff;
    background-color: #3a3a3a;
    transition: all .3s ease-in;
}
.btn-top--show {
    z-index: 20;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.btn {
    display: block;
    width: 100%;
    padding: 1.7rem 1rem;
    font-family: 'Playfair Display', serif;
    font-size: 1.4rem;
    color: #fff;
    outline: none;
    background-color: #d6a862;
    transition: all .3s ease;
    text-align: center;
    letter-spacing: -.007rem;
    text-transform: uppercase;
    text-transform: uppercase;
}
.btn:hover,
.btn:focus {
    background-color: #d1820a;
}
.btn--white {
    border: .1rem solid #fff;
    background-color: transparent;
}
.btn--white:hover,
.btn--white:focus {
    border-color: #d6a862;
    background-color: #d6a862;
}

.hamburger {
    position: relative;
    display: inline-block;
    overflow: visible;
    margin: 0;
    font: inherit;
    color: inherit;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    transition-timing-function: linear;
    transition-duration: .15s;
    transition-property: opacity, -webkit-filter;
    transition-property: opacity, filter;
    transition-property: opacity, filter, -webkit-filter;
    text-transform: none;
}
.hamburger:hover {
    opacity: .7;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
}
.hamburger.is-active:hover {
    opacity: .7;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
}
.hamburger.is-active .hamburger-inner {
    background-color: #fff;
}
.hamburger.is-active .hamburger-inner:before,
.hamburger.is-active .hamburger-inner:after {
    background-color: #fff;
}

.hamburger-box {
    position: relative;
    display: inline-block;
    width: 3rem;
    height: 24px;
}

.hamburger-inner {
    position: absolute;
    top: 50%;
    display: block;
    width: 3rem;
    height: .3rem;
    margin-top: -2px;
    outline: none;
    background-color: #fff;
    transition-timing-function: ease;
    transition-duration: .15s;
    transition-property: transform;
}
.hamburger-inner:before,
.hamburger-inner:after {
    position: absolute;
    width: 3rem;
    height: .3rem;
    background-color: #fff;
    transition-timing-function: ease;
    transition-duration: .15s;
    transition-property: transform;
}
.hamburger-inner:before,
.hamburger-inner:after {
    display: block;
    content: '';
}
.hamburger-inner:before {
    top: -10px;
}
.hamburger-inner:after {
    bottom: -10px;
}

/**** ============
EFFECTS
============ ****/
.hamburger--elastic-r .hamburger-inner {
    top: 2px;
    transition-timing-function: cubic-bezier(.68, -.55, .265, 1.55);
    transition-duration: .275s;
}

.hamburger--elastic-r .hamburger-inner:before {
    top: 10px;
    transition: opacity .125s .275s ease;
}

.hamburger--elastic-r .hamburger-inner:after {
    top: 20px;
    transition: transform .275s cubic-bezier(.68, -.55, .265, 1.55);
}

.hamburger--elastic-r.is-active .hamburger-inner {
    transition-delay: .075s;
    transform: translate3d(0, 10px, 0) rotate(-135deg);
}

.hamburger--elastic-r.is-active .hamburger-inner:before {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    transition-delay: 0s;
}

.hamburger--elastic-r.is-active .hamburger-inner:after {
    transition-delay: .075s;
    transform: translate3d(0, -20px, 0) rotate(270deg);
}

.nav {
    position: relative;
}

.nav__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin: auto;
    padding: 1.2rem;
    background-color: #3a3a3a;

    -ms-flex-pack: justify;

        justify-content: space-between;
    -ms-flex-align: center;
        align-items: center;
}

.menu {
    position: absolute;
    top: 7rem;
    right: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    max-height: 0;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    background-color: #3a3a3a;
    transition: max-height .6s cubic-bezier(.47, 0, .745, .715), opacity .3s ease-in;
}
.menu--open {
    max-height: 60rem;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.menu__link {
    display: block;
    padding: 1.5rem 0rem;
    font-size: 1.4rem;
    color: #fff;
    transition: all .3s ease;
    text-align: center;
    text-transform: uppercase;
}
.menu__link:hover,
.menu__link:focus {
    color: #d6a862;
}

.logo {
    display: block;
}

.header {
    position: absolute;
    z-index: 10;
    width: 100%;
}
.header-top {
    display: none;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.header-address {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 36.3rem;
    margin-right: 2rem;

    -ms-flex-pack: justify;

        justify-content: space-between;
    justify-content: space-between;
}
.header-address__item {
    font-size: 1.4rem;
    color: rgba(255, 255, 255, .8);
}
.header-address__item .demo-icon {
    margin-right: .3rem;
}
.header-address__link {
    color: inherit;
    transition: all .3s ease;
}
.header-address__link:hover,
.header-address__link:focus {
    color: #d6a862;
}

.social {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 17rem;

    -ms-flex-pack: justify;

        justify-content: space-between;
}
.social__link {
    font-size: 1.4rem;
    color: rgba(255, 255, 255, .8);
    transition: all .3s ease;
}
.social__link:hover,
.social__link:focus {
    color: #d6a862;
}

.footer {
    padding: 7rem 0rem;
    color: #fff;
    background-color: #3a3a3a;
    text-align: center;
}
.footer__menu {
    position: static;
    display: block;
    overflow: unset;
    max-height: none;
    margin-bottom: 3rem;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.footer__logo {
    margin: auto;
    margin-bottom: 2.1rem;
}
.footer-links {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 22.9rem;
    margin: auto;

    -ms-flex-pack: justify;

        justify-content: space-between;
}
.footer-links__item:not(:last-child):after {
    content: ' /';
}
.footer-links__link {
    color: #fff;
    transition: all .3s ease;
}
.footer-links__link:hover,
.footer-links__link:focus {
    text-decoration: underline;
}

.promo-slide {
    position: relative;
    z-index: 3;
    padding-top: 250px;
    padding-bottom: 250px;
    background: url('../img/promo/promo-bg.jpg') no-repeat center/cover;
    text-align: center;
}
.promo-slide:after {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .575);
    content: '';
}
.promo-slide__title {
    margin-bottom: 1.4rem;
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    color: #fff;
}
.promo-slide__text {
    margin-bottom: 4.7rem;
    color: #fff;
}
.promo-slide__wrap {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 28rem;
    margin: auto;
    padding: 0rem 1rem;

    -ms-flex-pack: justify;

        justify-content: space-between;
}
.promo-slide__wrap > * {
    width: 40%;
}

.promo .swiper-pagination {
    top: 63%;
    right: 0;
    bottom: 0;
    left: auto;
    display: none;
    width: 6rem;
    height: 2rem;
    transform: translateY(-50%) rotate(90deg);
}

.promo .swiper-pagination-bullet {
    width: .6rem;
    height: .6rem;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    border-radius: 0;
    background-color: #fff;
}

.promo .swiper-pagination-bullet-active {
    background-color: #d6a862;
}

.services {
    position: relative;
    overflow: hidden;
    background-color: #fbfcf5;
}
.services:after {
    position: absolute;
    z-index: -1;
    top: -50%;
    left: -50%;
    display: none;
    width: 200%;
    height: 120.9rem;
    background-color: #fbfcf5;
    content: '';
    transform: rotate(-30deg);
}
.services__head {
    margin-bottom: 3.1rem;
}
.services__sub-text {
    margin-bottom: 47px;
}
.services-list {
    display: -ms-grid;
    display: grid;
    margin-bottom: 6rem;

    -ms-grid-columns: 18rem;

        grid-template-columns: 18rem;
    -ms-flex-pack: center;
        justify-content: center;
    grid-row-gap: 5rem;
}
.services-list__item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    padding: 4.4rem;
    transition: all .3s ease-in;
    text-align: center;

    -ms-flex-align: center;

        align-items: center;
}
.services-list__item:hover {
    background-color: #fff;
    box-shadow: .2rem .2rem 1.6rem rgba(32, 32, 32, .1);
}
.services-list__icon {
    display: block;
    margin-bottom: 4rem;
}
.services-list__title {
    font-family: 'Playfair Display', serif;
    font-size: 1.8rem;
    color: #4d4d4d;
    text-transform: uppercase;
}
.services__wrap {
    display: -ms-grid;
    display: grid;

    grid-row-gap: 4rem;
    -ms-grid-columns: minmax(29rem, 64rem);
        grid-template-columns: minmax(29rem, 64rem);
    -ms-flex-pack: center;
        justify-content: center;
}
.services__image {
    box-shadow: 1rem 1rem 0 #d6a862;
}
.services-info__title {
    margin-bottom: 3.1rem;
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    line-height: 1.5;
}
.services-info__desc {
    margin-bottom: 3.7rem;
    line-height: 2.596rem;
}
.services-info__link {
    display: block;
    font-size: 1.8rem;
    color: #d6a862;
    text-transform: uppercase;
}

.date {
    padding-top: 300px;
    padding-bottom: 40px;
    background: url('../img/date/date-bg.jpg') no-repeat center/cover;
}
.date__inner {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    padding-top: 3.5rem;
    padding-right: 15px;
    padding-bottom: 3.5rem;
    padding-left: 15px;
    background-color: #fff;

    -ms-flex-align: center;

        align-items: center;
}
.date__day {
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    font-family: 'Playfair Display', serif;
    font-size: 3.2rem;
    border-bottom: 2px solid #3a3a3a;

    -ms-flex-negative: 0;

        flex-shrink: 0;
}
.date__day .demo-icon {
    display: block;
    color: #d6a862;
    text-align: center;
}
.date__desc {
    line-height: 1.4;
}

.channel__head {
    margin-bottom: 3.1rem;
}

.channel__sub-text {
    margin-bottom: 5.7rem;
}

.channel-video {
    max-width: 64rem;
    margin: auto;
    margin-bottom: 3.6rem;
}
.channel-video__link {
    position: relative;
}
.channel-video__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    transform: translate(-50%, -50%);
}

.channel__btn {
    max-width: 17rem;
    margin: auto;
}

.blog {
    background-color: #f7f7f7;
}
.blog__head {
    margin-bottom: 3.1rem;
}
.blog-controls {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    margin: auto;
    margin-bottom: 6.7rem;

    -ms-flex-align: center;

        align-items: center;
}
.blog-controls__item {
    outline: none;
    transition: all .3s ease;
}
.blog-controls__item.mixitup-control-active,
.blog-controls__item:hover,
.blog-controls__item:focus {
    color: #d6a862;
}
.blog-controls__item:not(:last-child) {
    margin-bottom: 1.5rem;
}
.blog-list {
    display: -ms-grid;
    display: grid;

    -ms-grid-columns: minmax(25rem, 36.3rem);

        grid-template-columns: minmax(25rem, 36.3rem);
    -ms-flex-pack: center;
        justify-content: center;
    grid-gap: 3rem;
}
.blog-item__image {
    margin-bottom: 3rem;
    transition: all .3s ease;
}
.blog-item__image:hover,
.blog-item__image:focus {
    box-shadow: 1rem 1rem 0 #d6a862;
}
.blog-item__title {
    margin-bottom: 2rem;
    font-size: 1.8rem;
    line-height: 1.4;
    color: #525252;
}
.blog-item__link {
    color: inherit;
}
.blog-item__date {
    display: -ms-flexbox;
    display: flex;
}
.blog-item__date > * {
    font-family: 'Playfair Display', serif;
    color: #757575;
}

.contact__head {
    margin-bottom: 3.1rem;
}

.contact__sub-text {
    margin-bottom: 31px;
}

.contact-list {
    display: -ms-grid;
    display: grid;

    -ms-grid-columns: minmax(28rem, 35rem);

        grid-template-columns: minmax(28rem, 35rem);
    -ms-flex-pack: center;
        justify-content: center;
    grid-row-gap: 4rem;
}

.contact-item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    text-align: center;

    -ms-flex-align: center;

        align-items: center;
}
.contact-item__icon {
    margin-bottom: 2rem;

    -ms-flex-negative: 0;

        flex-shrink: 0;
}
.contact-item__title {
    font-size: 1.4rem;
    text-transform: uppercase;
}
.contact-item__link {
    display: block;
    margin-top: 1.4rem;
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    color: #3a3a3a;
}
@media (min-width: 320px){
    body{
        font-size: 16px;
        font-size: calc(.00227 * 100vw + 13.27273px);
    }
    .head{
        font-size: 48px;
        font-size: calc(.02273 * 100vw + 20.72727px);
    }
    .pd{
        padding-top: calc(6.81818vw + 38.18182px);
    }
    .pd{
        padding-bottom: calc(6.81818vw + 38.18182px);
    }
    .promo-slide{
        padding-top: calc(16.81818vw + 196.18182px);
    }
    .promo-slide{
        padding-bottom: calc(1.13636vw + 246.36364px);
    }
    .promo-slide__title{
        font-size: 64px;
        font-size: calc(.04545 * 100vw + 9.45455px);
    }
    .services__sub-text{
        margin-bottom: calc(3.40909vw + 36.09091px);
    }
    .services-info__title{
        font-size: 24px;
        font-size: calc(.00682 * 100vw + 15.81818px);
    }
    .date{
        padding-top: calc(34.09091vw + 190.90909px);
    }
    .date{
        padding-bottom: calc(2.27273vw + 32.72727px);
    }
    .date__inner{
        padding-right: calc(5.11364vw - 1.36364px);
    }
    .date__inner{
        padding-left: calc(5.11364vw - 1.36364px);
    }
    .contact__sub-text{
        margin-bottom: calc(4.09091vw + 17.90909px);
    }
    .contact-item__link{
        font-size: 20px;
        font-size: calc(.00227 * 100vw + 17.27273px);
	}
	.footer__menu{
        margin-bottom: calc(3.40909vw + 29.09091px);
    }
}

@media (min-width: 576px){
    .btn-top{
        bottom: 3rem;
    }
    .hamburger{
        display: none;
    }
    .nav__wrapper{
        border-top: 1px solid #fff;
        background-color: transparent;
    }
    .menu{
        position: static;
        display: -ms-flexbox;
        display: flex;
        overflow: unset;
        max-width: 55.4rem;
        max-height: none;
        margin-left: 1rem;
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        background-color: transparent;
        -ms-flex-pack: justify;
            justify-content: space-between;
    }
    .header-top{
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: justify;
            justify-content: space-between;
    }
    .footer__menu{
        display: -ms-flexbox;
        display: flex;
        margin: auto;
        margin-bottom: 40px;
        -ms-flex-pack: justify;
            justify-content: space-between;
    }
    .promo .swiper-pagination{
        display: block;
    }
    .services-list{
        -ms-grid-columns: (45%)[2];
            grid-template-columns: repeat(2, 45%);
    }
    .date__inner{
        -ms-flex-direction: row;
            flex-direction: row;
    }
    .date__day{
        margin: 0;
        margin-right: 2rem;
        padding: 0;
        padding-right: 2rem;
        border-right: 2px solid #3a3a3a;
        border-bottom: 0;
    }
    .blog-controls{
        -ms-flex-direction: row;
            flex-direction: row;
        width: 100%;
        max-width: 48rem;
        -ms-flex-pack: justify;
            justify-content: space-between;
    }
    .blog-controls__item:not(:last-child){
        margin: 0;
    }
}
@media (min-width: 768px){
    .menu__link{
        padding: 0;
    }
    .services-list{
        -ms-grid-columns: (32%)[3];
            grid-template-columns: repeat(3, 32%);
    }
    .blog-list{
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 1fr 1fr;
            grid-template-columns: 1fr 1fr 1fr;
        -ms-grid-rows: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
    }
    .blog-item:nth-child(1){
        grid-area: 1 / 1 / 2 / 3;
    }
    .contact-list{
        -ms-grid-columns: (1fr)[2];
            grid-template-columns: repeat(2, 1fr);
        grid-gap: 4rem 2rem;
    }
    .contact-item{
        -ms-flex-direction: row;
            flex-direction: row;
        text-align: left;
    }
    .contact-item__icon{
        margin-right: 3rem;
        margin-bottom: 0;
    }
}

@media (min-width: 992px){
    .services-list{
        -ms-grid-columns: (18%)[5];
            grid-template-columns: repeat(5, 18%);
    }
    .services__wrap{
        -ms-grid-columns: 2fr 1.5fr;
            grid-template-columns: 2fr 1.5fr;
        -ms-flex-pack: justify;
            justify-content: space-between;
        -ms-flex-align: center;
            -ms-grid-row-align: center;
            align-items: center;
        grid-gap: 0rem 6rem;
    }
    .contact-list{
        -ms-grid-columns: 2fr 1fr 2fr;
            grid-template-columns: 2fr 1fr 2fr;
        grid-gap: 0 3rem;
    }
}
@media (min-width: 1200px){
    body{
        font-size: 16px;
    }
    .head{
        font-size: 48px;
    }
    .pd{
        padding-top: 120px;
    }
    .pd{
        padding-bottom: 120px;
    }
    .promo-slide{
        padding-top: 398px;
    }
    .promo-slide{
        padding-bottom: 260px;
    }
    .promo-slide__title{
        font-size: 64px;
    }
    .services{
        background-color: transparent;
    }
    .services:after{
        display: block;
    }
    .services__sub-text{
        margin-bottom: 77px;
    }
    .services-info__title{
        font-size: 24px;
    }
    .date{
        padding-top: 600px;
    }
    .date{
        padding-bottom: 60px;
    }
    .date__inner{
        padding-right: 60px;
    }
    .date__inner{
        padding-left: 60px;
    }
    .contact__sub-text{
        margin-bottom: 67px;
    }
    .contact-item__link{
        font-size: 20px;
	}
	.footer__menu{
        margin-bottom: 70px;
    }
}